<template>
  <div>
    <div class="headline font-weight-bold">Workshop requests ({{approvalRequests.length}})</div>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <v-list class="scroll-y transparent">
      <v-container grid-list-lg>
          <div v-if="approvalRequests.length != 0">
            <v-layout row wrap>
              <v-flex v-for="request in approvalRequests" :key="request.id" sm12>
                  <Request
                    v-bind:userId="request.speaker.id"
                    v-bind:userPhotoUrl="request.speaker.photo_url"
                    v-bind:username="request.speaker.name + ' ' + request.speaker.lastname"
                    v-bind:workshopId="request.workshop.id"
                    v-bind:workshopName="request.workshop.name "
                    v-bind:workshopDescription="request.workshop.description"
                    v-bind:workshopDate="request.workshop.begin_date"
                    v-bind:approvalRequestId="request.id"
                  />
              </v-flex>
            </v-layout>
          </div>
          <WithoutDataMessage v-else-if="isLoading == false && approvalRequests.length == 0" v-bind:message="'There are not workshops request.'" />
      </v-container>
    </v-list>
  </div>
</template>
<script>
import Request from "./components/Request/Request";
import WithoutDataMessage from "../../../../../components/WithoutDataMessage";
import CustomLoader from "../../../../../components/CustomLoader"
import ApprovalRequestService from '../../../../../services/api/ApprovalRequestService';

var api = new ApprovalRequestService();

export default {
  components: {
    Request,
    WithoutDataMessage,
    CustomLoader
  },
  data: () => ({
    isLoading: true,
    approvalRequests: []
  }),
  methods: {
    displayWorkshopRequests() {
      var self = this;
      api.getApprovalRequests()
        .then(_approvalRequests => {
          self.isLoading = false
          _approvalRequests.forEach(function(element) {
            self.approvalRequests.push(element)
          });
        })
        .catch(() => {
          self.isLoading = false
        })
    }
  },
  mounted() {
    this.displayWorkshopRequests();
  }
};
</script>

<style scoped>
.headline {
  color: #4a4a4a;
}
.v-list {
  max-height: 600px;
}
</style>

