<template>
  <div>
    <EditWorkshop/>
    <DeleteWorkshop/>

    <div class="headline pb-3 font-weight-bold">Next workshops</div>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="nextWorkshops.length != 0">
      <Workshop
        v-for="workshop in nextWorkshops"
        :key="workshop.id"
        v-bind:workshopId="workshop.id"
        v-bind:workshopName="workshop.name"
        v-bind:workshopBannerUrl="workshop.banner_url"
        v-bind:workshopBeginDate="workshop.begin_date"
        v-bind:speakerId="workshop.speaker_id"
        v-bind:speakerName="workshop.speaker_name"
        v-bind:status="'coming'"
        v-bind:onUpdate="updateWorkshop"
        v-bind:onDelete="deleteWorkshop"
      />
    </div>

    <WithoutDataMessage v-else-if="isLoading == false && nextWorkshops.length == 0" v-bind:message="'There are not next workshops'" />

    <div class="headline mt-4 pb-3 font-weight-bold">Latest workshops</div>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="latestWorkshops.length != 0">
      <Workshop
        v-for="workshop in latestWorkshops"
        :key="workshop.id"
        v-bind:workshopId="workshop.id"
        v-bind:workshopName="workshop.name"
        v-bind:workshopBannerUrl="workshop.banner_url"
        v-bind:workshopBeginDate="workshop.begin_date"
        v-bind:speakerId="workshop.speaker_id"
        v-bind:speakerName="workshop.speaker_name"
        v-bind:status="'passed'"
        v-bind:onUpdate="updateWorkshop"
        v-bind:onDelete="deleteWorkshop"
      />
    </div>

    <WithoutDataMessage v-else-if="isLoading == false && latestWorkshops.length == 0" v-bind:message="'There are not latest workshops'" />

  </div>
</template>

<script>
import WithoutDataMessage from "../../../../../components/WithoutDataMessage";
import CustomLoader from "../../../../../components/CustomLoader"
import WorkshopService from "../../../../../services/api/WorkshopService"
import _ from "../../../../../assets/constants/InfoMessages"
import view from "../../../../../services/utils/ViewHandler"

import Workshop from "../../../../../components/Workshop";
import EditWorkshop from "../../../../../components/Workshop/EditWorkshop";
import DeleteWorkshop from "../../../../../components/Workshop/DeleteWorkshop";

var api = new WorkshopService()

export default {
  components: {
    Workshop,
    WithoutDataMessage,
    EditWorkshop,
    DeleteWorkshop,
    CustomLoader
  },
  data: () => ({
    isLoading: true,
    nextWorkshops: [],
    latestWorkshops: [],
    workshopStatus: {
      COMING: "coming",
      PASSED: "passed"
    }
  }),
  methods: {
    displayWorkshops() {
      var self = this
      api.getBriefWorkshops()
        .then(_briefWorkshops => {
          self.isLoading = false
          _briefWorkshops.forEach((element) => {
            if (element.status === self.workshopStatus.COMING) {
              self.nextWorkshops.push(element)
            } else if (element.status == self.workshopStatus.PASSED) {
              self.latestWorkshops.push(element)
            }
          })
        })
        .catch(() => {
          self.isLoading = false
        })
    },
    updateWorkshop(workshop) {
      var self = this
      api.updateWorkshop(workshop)
        .then(() => {
          view.showMessage("success", _.Message.workshopUpdated)
          setTimeout(function() {
            self.$router.go()
          }, 1500)
        })
        .catch(() => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    deleteWorkshop(workshopId, status) {
      var self = this
      api.deleteWorkshop(workshopId)
        .then(() => {
          self.updateLocalWorkshops(workshopId, status)
          view.showMessage("success", _.Message.workshopDeleted)
        })
        .catch(() => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    updateLocalWorkshops(workshopId, status) {
      if (status === this.workshopStatus.COMING) {
        let workshopIndex = this.nextWorkshops.findIndex(workshop => workshop.id === workshopId)
        this.nextWorkshops.splice(workshopIndex, 1)
      } else {
        let workshopIndex = this.latestWorkshops.findIndex(workshop => workshop.id === workshopId)
        this.latestWorkshops.splice(workshopIndex, 1)
      }
    }
  },
  mounted() {
    this.displayWorkshops()
  }
};
</script>

<style scoped>
.headline {
  color: #4a4a4a;
}
</style>

