<template>
  <v-hover>
  <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 5 : 1}`" class="mt-3" @click="showMessage">
    <v-layout>
      <v-flex xs9 sm10 md9 lg10 py-3>
        <v-list-tile class="grow hidden-sm-and-down">
          <v-list-tile-content>
            <span class="title font-weight-bold ml-3 mb-1 font-weight-bold">{{title}}</span>
            <span class="subheading ml-3">
              <b class="font-weight-bold">To:</b>
              {{receiver}} &emsp;
              <b class="font-weight-bold">From:</b>
              {{sender}}
            </span>
          </v-list-tile-content>
        </v-list-tile>
        <div class="hidden-md-and-up">
          <div class="title font-weight-bold ml-3 pb-2">{{getSummarizedBody()}}</div>
          <div class="body-2 ml-3 mb-2"><b class="font-weight-bold">To:</b>{{receiver}}</div>
          <div class="body-2 ml-3"><b class="font-weight-bold">From:</b>{{sender}}</div>
        </div>
      </v-flex>
      <v-flex xs3 sm2 md3 lg2 pa-3>
        <div class="body-2">{{date}}</div>
      </v-flex>
    </v-layout>
  </v-card>
  </v-hover>
</template>

<script>
import EventBus from "../../../../../../bus";
import MessagesService from "../../../../../../services/api/MessagesService"
var api = new MessagesService()

export default {
  props: {
    id: Number,
    title: String,
    receiver: String,
    sender: String,
    date: String
  },
  data() {
    return {};
  },
  methods: {
    showMessage() {
      var self = this
      api.getDetailedMessage(self.id)
        .then(_message => {
          EventBus.$emit("showMessage", {
            showDialog: true,
            senderName: _message.author.name + " " + _message.author.lastname,
            receiverName: _message.destinatary_type,
            message: _message.body
          });
        })
        .catch(() => {

        })
    },
    getSummarizedBody() {
      return this.title.substring(0, 20) + "..."
    }
  }
};
</script>

<style scoped>
.title, .subheading, .body-2 {
  color: #6d6d6d;
}
.v-card {
  background-color: #f8f8f8 !important;
}
</style>