<template>
  <v-layout row justify-center>
    <v-dialog v-model="showDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{title}}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md py-0>
            <v-layout wrap>
              <v-flex xs12>
                <div class="body-2 font-weight-regular">
                  <b>From:</b>
                  {{senderName}}
                </div>
              </v-flex>

              <v-flex xs12>
                <div class="body-2 font-weight-regular">
                  <b>To:</b>
                  {{receiverName}}
                </div>
              </v-flex>

              <v-flex xs12>
                <div class="subheading mb-2">Message</div>
                <v-textarea
                  v-model="message"
                  :no-resize="true"
                  :rows="10"
                  :readonly="true"
                  box
                  required
                ></v-textarea>
              </v-flex>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer></v-spacer>

                  <v-btn color="info" @click="closeDialog">OK</v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import EventBus from "../../../../../../bus";
export default {
  props: {
    messageId: String
  },
  data() {
    return {
      showDialog: false,
      title: "",
      senderName: "",
      receiverName: "",
      message: ""
    };
  },
  methods: {
    closeDialog() {
      this.showDialog = false;
    }
  },
  beforeMount() {
    EventBus.$on("showMessage", payload => {
      this.showDialog = payload.showDialog;
      this.senderName = payload.senderName;
      this.receiverName = payload.receiverName;
      this.message = payload.message;
    });
  }
};
</script>