<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md4>
        <v-btn flat icon @click="goBack()">
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <span class="headline ml-2 font-weight-bold">{{userFirstName}}'s reports</span>
        <v-btn flat icon class="ml-2" @click="downloadReport">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </v-flex>

      <v-flex xs12 md4>
        <v-menu
          ref="BeginDatePicker"
          v-model="BeginDatePicker"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="computedBeginDateFormatted"
              label="Begin Date"
              hint="MM/DD/YYYY format"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="BeginDate" no-title @input="BeginDatePicker = false"></v-date-picker>
        </v-menu>
      </v-flex>

      <v-flex xs12 md4>
        <v-menu
          ref="EndDatePicker"
          v-model="EndDatePicker"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="computedEndDateFormatted"
              label="End Date"
              hint="MM/DD/YYYY format"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="EndDate" no-title @input="EndDatePicker = false"></v-date-picker>
        </v-menu>
      </v-flex>
    </v-layout>

    <br>

    <p class="title">On review</p>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="userReport.activitiesOnReview.length != 0">
      <Activity
        v-for="activity in userReport.activitiesOnReview"
        :key="activity.title"
        v-bind:time="activity.worked_time"
        v-bind:title="activity.title"
        v-bind:date="activity.created_at_timestamp"
        v-bind:tasks="activity.tasks"
        v-bind:status="activity.status"
      />
    </div>
    <WithoutDataMessage v-else-if="isLoading == false && userReport.activitiesOnReview.length == 0" v-bind:message="'There are not activities on review'" />

    <p class="title mt-4">Approved</p>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="userReport.activitiesDone.length != 0">
      <Activity
        v-for="activity in userReport.activitiesDone"
        :key="activity.title"
        v-bind:time="activity.worked_time"
        v-bind:title="activity.title"
        v-bind:date="activity.created_at_timestamp"
        v-bind:tasks="activity.tasks"
        v-bind:status="activity.status"
      />
    </div>
    <WithoutDataMessage v-else-if="isLoading == false && userReport.activitiesDone.length == 0" v-bind:message="'There are not approved activities'" />
  </div>
</template>

<script>
import moment from 'moment'
import Activity from "./components/Activity/Activity";
import ReportService from "../../../../../../../services/api/ReportService"
import WithoutDataMessage from "../../../../../../../components/WithoutDataMessage"
import CustomLoader from "../../../../../../../components/CustomLoader"
import _ from "../../../../../../../assets/constants/InfoMessages"
import view from "../../../../../../../services/utils/ViewHandler"

var api = new ReportService()

import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  components: {
    Activity,
    WithoutDataMessage,
    CustomLoader
  },
  data() {
    return {
      isLoading: true,
      BeginDatePicker: false,
      EndDatePicker: false,
      BeginDate: new Date().toISOString().substr(0, 10),
      BeginDateFormatted: this.formatDatePicker(new Date().toISOString().substr(0, 10)),
      EndDate: new Date().toISOString().substr(0, 10),
      EndDateFormatted: this.formatDatePicker(new Date().toISOString().substr(0, 10)),
      userId: this.$route.params.userId,
      userFirstName: this.$route.params.userFirstName,
      userReport: {
        activitiesOnReview: [],
        activitiesDone: []
      },
      totalWorkedTime: 0
    };
  },
  methods: {
    goBack() {
      this.$router.back();
    },
    displayDetailedReport() {
      var self = this
      api.getDetailedReport(self.userId)
        .then(_userReport => {
          self.isLoading = false
          _userReport.tasks.forEach((element, index) => {
            //Convert timestampt to date object
            element.created_at_timestamp = self.formatDate(element.created_at_timestamp)
            element.worked_time = element.worked_time != null ?
              element.worked_time + " mins" : "0 mins"
            element.tasks = [element.description]
            if (element.status != "done") {
              self.userReport.activitiesOnReview.push(element)
            } else {
              self.userReport.activitiesDone.push(element)
            }
            this.totalWorkedTime = _userReport.total_worked_time
          })
        })
        .catch(() => {
          self.isLoading = false
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    createReport() {

      let pdfRows = []
      let taskDate;

      this.userReport.activitiesDone.forEach(task => {
        taskDate = moment(task.created_at_timestamp, "MM/DD/YYYY")

        if(taskDate.isSameOrAfter(this.BeginDate) &&
        taskDate.isSameOrBefore(this.EndDate))
        {
          pdfRows.push({
            taskTitle: task.title,
            taskDescription: task.description,
            workedTime: task.worked_time,
            status: task.status
          });
        }

      });

      this.userReport.activitiesOnReview.forEach(task => {
        taskDate = moment(task.created_at_timestamp, "MM/DD/YYYY")
        if(taskDate.isSameOrAfter(this.BeginDate) &&
        taskDate.isSameOrBefore(this.EndDate))
        {
          pdfRows.push({
            taskTitle: task.title,
            taskDescription: task.description,
            workedTime: task.worked_time,
            status: task.status
          });
        }
      });

      let pdfColumns = [
        { title: "Actividad", dataKey: "taskTitle" },
        { title: "Descripcion", dataKey: "taskDescription" },
        { title: "Tiempo", dataKey: "workedTime" },
        { title: "Estatus", dataKey: "status" }
      ];

      var pdf = new jsPDF("p", "pt");

      pdf.autoTable(pdfColumns, pdfRows);

      pdf.text("Reporte de actividades", 40, 30);
      pdf.text("Tiempo total trabajado: " + this.totalWorkedTime + " Minutos", 250, 30)

      return pdf;
    },
    downloadReport() {
      let reportPDF = this.createReport();
      reportPDF.save("Reporte.pdf");
    },
    formatDate(reportDate) {
      let date = new Date(reportDate * 1000).toLocaleDateString("en-US")
      return moment(String(date)).format("MM/DD/YYYY")
    },
    formatDatePicker (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    parseDatePicker (date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    }
  },
  computed: {
    computedBeginDateFormatted () {
      return this.formatDatePicker(this.BeginDate)
    },
    computedEndDateFormatted () {
      return this.formatDatePicker(this.EndDate)
    }
  },
  mounted() {
    this.displayDetailedReport()
  }
};
</script>

<style>
</style>
