<template>
  <v-hover>
  <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 5 : 1}`" class="mt-3"> <!--@click="displayUserProfile(userId)"-->
    <v-layout>
      <v-flex xs5 sm6 lg6 py-3>
        <v-list-tile>
          <v-avatar :size="50">
            <v-img class="elevation-1" :src="userPhotoUrl"></v-img>
          </v-avatar>

          <div class="ml-3">{{username}}</div>
        </v-list-tile>
      </v-flex>

      <v-flex xs4 sm4 lg5 py-3 pr-3>
        <v-layout align-center justify-end fill-height>
          <span class="subheading">{{score}} pts</span>
        </v-layout>
      </v-flex>

      <v-divider :vertical="true"></v-divider>

      <v-flex xs3 sm2 lg1 py-3 mx-2>
        <v-list-tile>
          <ButtonEditAccount
            v-bind:accountId="accountId"
            v-bind:trelloUsername="trelloUsername"
            v-bind:role="role"
            v-bind:onUpdate="onUpdate"
          />
          <ButtonDeleteAccount class="ml-4"
          v-bind:onDelete="onDelete" 
          v-bind:accountId="accountId"
          />
        </v-list-tile>
      </v-flex>
    </v-layout>
  </v-card>
  </v-hover>
</template>

<script>
import ButtonEditAccount from "./ButtonEditAccount";
import ButtonDeleteAccount from "./ButtonDeleteAccount";

export default {
  components: {
    ButtonEditAccount,
    ButtonDeleteAccount
  },
  props: {
    accountId: Number,
    userPhotoUrl: String,
    username: String,
    score: {
      type: Number,
      default: 0
    },
    trelloUsername: String,
    role: String,
    onUpdate: Function,
    onDelete: Function
  },
  methods: {
    displayUserProfile(userId) {
      this.$router.push({ name: "user-profile", params: { userId: userId } });
      //This page (user-profile) has not yet been created, so this will redirect to root page.
    }
  }
};
</script>

<style scoped>
div.mt-3.v-card.v-sheet.theme--light {
  border-radius: 6px;  
  background-color: #f8f8f8 !important;
}
.v-card:hover {
  cursor: pointer;
}
</style>