<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn flat icon class="action-button" v-on="on">
          <v-icon>edit</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Profile configuration</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field 
                    v-model="trelloUsername" 
                    label="Trello username" 
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-checkbox v-model="checked" :label="'Is admin?'"></v-checkbox>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="closeDialog()">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="updateUser()">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  props: {
    accountId: String,
    trelloUsername: String,
    role: String,
    onUpdate: Function
  },
  data: () => ({
    dialog: false,
    checked: false
  }),
  methods: {
    closeDialog() {
      this.dialog = false
    },
    updateUser() {
      var self = this
      if (this.checked) {
        this.role = 'admin'
      } else {
        this.role = 'student'
      }
      this.closeDialog();
      this.onUpdate({
        id: self.accountId,
        role: self.role,
        trello_username: self.trelloUsername
      })
    }
  },
  mounted() {
    if (this.role === 'admin') {
      this.checked = true
    }
  }
};
</script>

<style>
.action-button {
  margin: 0px 2px 0px 2px;
}
</style>
