<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on }">
        <v-btn flat icon class="action-button" v-on="on">
          <v-icon>delete_outline</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">{{confirmQuestion}}</v-card-title>
        <v-card-text>{{warningMessage}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="closeDialog()">Close</v-btn>
          <v-btn color="red darken-1" flat @click="deleteAccount()">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  props: {
    accountId: String,
    onDelete: Function
  },
  data() {
    return {
      confirmQuestion: "¿Esta usted seguro que quiere borrar esta cuenta?",
      warningMessage: "Esta acción no podrá ser revertida.",
      dialog: false
    };
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    },
    deleteAccount() {
      this.closeDialog();
      this.onDelete(this.accountId)
    }
  }
};
</script>
<style>
.action-button {
  margin: 0px 2px 0px 2px;
}
</style>
