<template>
  <div class="carousel-banners">
    <v-layout>
      <v-flex>
        <slick ref="slick" :options="slickOptions">
          <img
            v-for="banner in banners"
            :key="banner.workshopId"
            class="banner"
            :src="banner.bannerSrc"
            :workshopId="banner.workshopId"
          />
        </slick>
      </v-flex>
    </v-layout>

    <!--Banner Workshop Modal-->
    <div id="bannerWorkshop" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <img class="modal-content" :src="bannerOpened" @click="closeModal" />
      <div id="caption" @click="viewWorkshop(workshopIdOpened)">Show Workshop</div>
    </div>
  </div>
</template>

<script>
import Slick from "vue-slick";
import "../../../../../node_modules/slick-carousel/slick/slick.css";
import "../../../../../node_modules/slick-carousel/slick/slick-theme.css";

import JQuery from "jquery";
let $ = JQuery;

export default {
  components: {
    Slick
  },
  data() {
    return {
      banners: [
        {
          workshopId: 1,
          bannerSrc: "https://i.ibb.co/VpLn7Xp/banner1.png"
        },
        {
          workshopId: 2,
          bannerSrc: "https://i.ibb.co/WGGhfnm/banner2.png"
        },
        {
          workshopId: 3,
          bannerSrc: "https://i.ibb.co/kgGjKJX/banner3.png"
        }
      ],
      workshopIdOpened: 0,
      bannerOpened: "",
      slickOptions: {
        //Large - Extra large
        arrows: true,
        dots: true,
        centerMode: true,
        centerPadding: "350px",
        responsive: [
          //Medium
          {
            breakpoint: 1263,
            settings: {
              centerPadding: "300px"
            }
          },
          //Small
          {
            breakpoint: 959,
            settings: {
              centerPadding: "200px"
            }
          },
          {
            breakpoint: 800,
            settings: {
              centerPadding: "150px"
            }
          },
          {
            breakpoint: 700,
            settings: {
              centerPadding: "100px"
            }
          },
          //Extra small
          {
            breakpoint: 599,
            settings: {
              centerPadding: "0px"
            }
          }
        ]
      }
    };
  },
  methods: {
    openBanner(bannerSrc, workshopId) {
      let modal = document.getElementById("bannerWorkshop");
      this.bannerOpened = bannerSrc;
      this.workshopIdOpened = workshopId;
      modal.style.display = "block";
    },
    closeModal() {
      let modal = document.getElementById("bannerWorkshop");
      modal.style.display = "none";
    },
    viewWorkshop(workshopId) {
      this.$router.push({
        name: "workshop",
        params: { id: workshopId }
      });
    }
  },
  created() {
    window.addEventListener("keydown", e => {
      if (e.key == "Escape") {
        this.closeModal();
      }
    });
  },
  mounted() {
    //Temporary fix proposal, vue-slick have an issue with event click on slides "cloned".
    //https://github.com/staskjs/vue-slick/issues/72
    $(this.$el)
      .find("img.banner")
      .on("click", e => {
        this.openBanner(
          $(e.currentTarget)[0].attributes.src.value,
          $(e.currentTarget)[0].attributes.workshopId.value
        );
      });
  }
};
</script>

<style scoped>
.carousel-banners >>> img.banner {
  cursor: pointer;
}

/* The Modal (background) */
.carousel-banners >>> .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.carousel-banners >>> .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 90%;
  cursor: pointer;
}

/* Caption of Modal Image (Image Text) */
.carousel-banners >>> #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 24px;
  cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.carousel-banners >>> .modal-content,
.carousel-banners >>> #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.carousel-banners >>> .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.carousel-banners >>> .close:hover,
.carousel-banners >>> .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
</style>