<template>
  <div class="categories-filter">
    <div class="categories-section mt-4 pt-3">
      <span class="title">Categories</span>
    </div>
    <v-list>
      <v-list-tile @click="showAllWorkshops()">All</v-list-tile>
      <v-list-tile
        v-for="category in categories"
        :key="category"
        @click="changeFilter(category)"
      >{{category}}</v-list-tile>
    </v-list>
    <div class="top-workshops-section pt-3">
      <span class="title">Top workshops</span>
    </div>
    <v-list>
      <v-list-tile
        v-for="topWorkshop in topWorkshops"
        :key="topWorkshop.id"
        @click="viewWorkshop(topWorkshop.id)"
      >{{topWorkshop.name}}</v-list-tile>
    </v-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      topWorkshops: [
        {
          id: 1,
          name: "1. Git basics - part 1"
        },
        {
          id: 2,
          name: "2. Git basics - parte 2"
        },
        {
          id: 3,
          name: "3. Heroku basics"
        },
        {
          id: 4,
          name: "4. Node JS basics"
        },
        {
          id: 5,
          name: "5. Facebook bots"
        }
      ],
      categories: ["Web", "Tools"]
    };
  },
  methods: {
    showAllWorkshops() {},
    changeFilter() {}
  }
};
</script>

<style scoped>
.categories-filter >>> .v-list {
  background-color: transparent;
  border-left: 1px solid #f1f1f1;
  padding-left: 12px;
}

.categories-filter >>> .categories-section,
.categories-filter >>> .top-workshops-section {
  border-top: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}
</style>