<template>
  <v-card class="elevation-1 mt-3">
    <v-layout>
      <v-flex sm3 class="hidden-xs-only">
        <v-layout text-xs-center align-center fill-height>
          <v-flex>
            <v-avatar :size="100" class="mt-4">
              <v-img :src="userPhotoUrl"></v-img>
            </v-avatar>

            <a><p class="subheading mt-3 mb-2" @click="viewUser(userId)">{{username}}</p></a>
            <p class="subheading">{{career}}</p>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-divider :vertical="true"></v-divider>
      <v-flex xs12 sm9>
        <v-layout pt-3 pb-0 px-3>
          <v-flex>
            <div class="requestInfo">
              <v-list-tile class="mb-4 pb-2 hidden-sm-and-up">
                <v-avatar :size="65" class="mt-4">
                  <v-img :src="userPhotoUrl"></v-img>
                </v-avatar>
              </v-list-tile>
              <v-divider class="hidden-sm-and-up"></v-divider>
              <div class="mt-3">
                <p class="subheading"><b>Wokshop: </b>{{workshopName}}</p>
                <p class="subheading"><b>Description: </b>{{summarizeDescription()}}</p>
                <p class="subheading"><b>Date: </b>{{getFormattedDate()}}</p>
                <p class="subheading"><b>Hour: </b>{{getFormattedTime()}}</p>
              </div>
            </div>
            <v-card-actions class="justify-center py-0">
              <v-btn flat color="red" @click="viewWorkshop(workshopId)">Preview</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<style scoped>
.v-card {
  background-color: #f8f8f8 !important;
}
.requestInfo .subheading {
  margin: 6px;
}
.subheading {
  color: #6d6d6d;
}
a{
  color: black;
}
</style>

<script>
import moment from "moment"

export default {
  props: {
    userId: Number,
    userPhotoUrl: String,
    username: String,
    workshopId: Number,
    workshopName: String,
    workshopDescription: String,
    workshopDate: String,
    approvalRequestId: String
  },
  methods:{
    viewUser(userId){
      //this.$router.push({ name: "user-profile", params: { userId: userId } });
    },
    viewWorkshop(workshopId){
      var self = this
      this.$router.push({ name: "workshop", params: { id: workshopId, is_preview: 'preview', approval_id: self.approvalRequestId } });
    },
    getFormattedDate() {
      let date = new Date(this.workshopDate);
      return moment(String(date)).format("MM/DD/YYYY");
    },
    getFormattedTime() {
      let date = new Date(this.workshopDate);
      return moment(String(date)).format("hh:mm a");
    },
    summarizeDescription() {
      if (this.workshopDescription.length > 400) {
        return this.workshopDescription
                  .substr(0, 400)
                  .concat("...")
      } else {
        return this.workshopDescription
      }
    }
  }
};
</script>


