<template>
  <v-menu
    bottom
    left
  >
    <template
      v-slot:activator="{ on }"
    >
      <v-btn
        icon
        v-on="on"
      >
        <v-badge
          overlap
          v-model="showBadge"
        >
          <template
            v-slot:badge
          >
            <span>
              {{notifications.length}}
            </span>
          </template>
          <v-icon>
            notifications_none
          </v-icon>
        </v-badge>
      </v-btn>
    </template>
    <v-list>
      <Notification
        :key="notification.id"
        v-bind:photoSrc="notification.author_photo_url"
        v-bind:senderLastname="notification.message.author.lastname"
        v-bind:senderName="notification.message.author.name"
        v-bind:timestamp="notification.created_at_timestamp"
        v-for="notification in notifications"
      />

      <v-list-tile
        @click="showAllNotifications()"
        class="all-notifications"
      >
        <v-list-tile-content>
          <v-list-tile-title
            class="text-xs-center"
          >
            All notifications
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
  import _ from "../../../../assets/constants/InfoMessages"
  import Notification from "./components/Notification"
  import NofificationService from "../../../../services/api/NotificationService";
  import view from "../../../../services/utils/ViewHandler";

  const api = new NofificationService();

  export default {
    components: {
      Notification
    },
    data: () => ({
      showBadge: false,
      notifications: []
    }),
    methods: {
      showAllNotifications() {
        this.$router.push("/notifications");
      },
      displayNotifications() {
        api.getLastNotifications()
          .then(_notifications => {
            _notifications.reverse()
            _notifications.forEach(element => {
              this.notifications.push(element)
            })
            _notifications.length > 0
              ? (this.showBadge = true)
              : (this.showBadge = false);
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      }
    },
    mounted() {
      this.displayNotifications();
    }
  };
</script>

<style scoped>
  .v-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .all-notifications {
    background-color: #dadada;
  }
</style>
