<template>
  <div class="my-workshop-page">
    <EditWorkshop/>
    <DeleteWorkshop/>
    <v-img
      class="grey lighten-2"
      height="100"
      src="https://i1.wp.com/gammaknife.com.ec/wp-content/uploads/2016/10/fondo-azul-claro.jpg?ssl=1"
    >
      <v-layout>
        <v-flex xs9>
          <div class="pt-2">
            <v-btn
              @click="goBack"
              flat
              icon
            >
              <v-icon
                color="#FFF"
              >
                arrow_back
              </v-icon>
            </v-btn>

            <span>
              <span class="title white--text font-weight-bold">
                {{workshop.name}}
              </span>
              <br/>
              <span class="ml-5 pl-1 white--text">
                {{workshop.speaker.name + " " + workshop.speaker.lastname}}
              </span>
            </span>
          </div>
        </v-flex>

        <v-flex xs3>
          <div class="pt-3 pr-5">
            <span class="title white--text font-weight-bold float-text">
              {workshop.status}}
            </span>
            <br/>
            <br/>
            <span class="ml-5 pl-1 white--text float-text">
              {{getFormattedDate()}}
            </span>
          </div>
        </v-flex>

      </v-layout>
    </v-img>

    <v-container>
      <!--Buttons-->
      <v-layout>
        <v-flex xs12>
          <v-btn
            @click="previewWorkshop()"
            class="text-capitalize font-weight-bold preview-button px-5"
            large>
            Preview
          </v-btn>
          <v-btn
            @click="updateWorkshop()"
            class="text-capitalize font-weight-bold modify-button px-5"
            large>
            Modify
          </v-btn>
          <v-btn
            @click="deleteWorkshop()"
            class="text-capitalize font-weight-bold delete-button px-5"
            large>
            Delete
          </v-btn>
        </v-flex>
      </v-layout>

      <!--Workshop card info-->
      <v-layout mt-4>
        <!--Signed users-->
        <v-flex xs4>
          <div class="signed-users-info text-xs-center">
            <v-layout
              align-center
              column
              fill-height
              justify-center
            >
              <p id="title">
                Signed users
              </p>
              <p id="amounts">
                {{signedUsers.length}}/{{workshop.limit_room}}
              </p>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>

      <!--Signed users-->
      <v-layout
        mt-4
      >
        <v-flex
          xs12
        >
          <div class="headline pb-3 font-weight-bold">
            Signed users
          </div>
          <CustomLoader v-bind:isLoading="isLoading"/>
          <div v-if="signedUsers.length !== 0">
            <SignedUser
              :key="signedUser.id"
              v-bind:role="signedUser.role"
              v-bind:score="signedUser.score"
              v-bind:signedUserId="signedUser.id"
              v-bind:trelloUsername="signedUser.trello_username"
              v-bind:userPhotoUrl="signedUser.photo_url"
              v-bind:username="signedUser.name + ' ' + signedUser.lastname"
              v-for="signedUser in signedUsers"
            />
          </div>
          <WithoutDataMessage
            v-bind:message="'There are not signed users'"
            v-else-if="isLoading === false && signedUsers.length === 0"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import moment from "moment"
  import EventBus from "../../../../../bus";
  import ProfileDataManager from "../../../../../services/session/ProfileDataManager";
  import SignedUser from "./components/SignedUser";
  import WithoutDataMessage from "../../../../../components/WithoutDataMessage";
  import CustomLoader from "../../../../../components/CustomLoader";
  import WorkshopService from "../../../../../services/api/WorkshopService"
  import _ from "../../../../../assets/constants/InfoMessages";
  import view from "../../../../../services/utils/ViewHandler";
  import EditWorkshop from "../../../../../components/Workshop/EditWorkshop"
  import DeleteWorkshop from "../../../../../components/Workshop/DeleteWorkshop"

  const api = new WorkshopService();

  const profileDataManager = new ProfileDataManager();

  export default {
    components: {
      SignedUser,
      WithoutDataMessage,
      CustomLoader,
      EditWorkshop,
      DeleteWorkshop
    },
    data() {
      return {
        id: this.$route.params.id,
        isLoading: true,
        workshop: {
          id: '',
          name: '',
          banner_url: '',
          speaker: {
            name: '',
            lastname: ''
          },
          description: '',
          documentation_url: '',
          status: '',
          begin_date: '',
          limit_room: '',
          subscribers: []
        },
        signedUsers: [],
      };
    },
    methods: {
      goBack() {
        this.$router.back();
      },
      displayWorkshop() {
        const self = this
        api.getWorkshop(self.id)
          .then(_workshop => {
            self.isLoading = false;
            self.workshop.id = _workshop.id
            self.workshop.name = _workshop.name
            self.workshop.banner_url = _workshop.banner_url
            self.workshop.speaker.name = _workshop.speaker.name
            self.workshop.speaker.lastname = _workshop.speaker.lastname
            self.workshop.description = _workshop.description
            self.workshop.documentation_url = _workshop.documentation_url
            self.workshop.status = _workshop.status
            self.workshop.begin_date = _workshop.begin_date
            self.workshop.limit_room = _workshop.limit_room
            _workshop.subscribers.forEach(function (element) {
              self.signedUsers.push(element)
            })
          })
          .catch(() => {
            self.isLoading = false;
          })
      },
      previewWorkshop() {
        this.$router.push({name: "workshop", params: {id: this.workshop.id}})
      },
      updateWorkshop() {
        const self = this
        const _date = new Date(self.workshop.begin_date)
        EventBus.$emit("editWorkshop", {
          showDialog: true,
          onUpdate: self.onUpdate,
          workshop: self.workshop,
          formattedDate: moment(String(_date)).format("YYYY-MM-DD"),
          formattedTime: moment(String(_date)).format("hh:mm a")
        });
      },
      onUpdate(workshop) {
        api.updateWorkshop(workshop)
          .then(() => {
            view.showMessage("success", _.Message.workshopUpdated);
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },
      deleteWorkshop() {
        const self = this
        EventBus.$emit("deleteWorkshop", {
          showDialog: true,
          workshopId: self.workshop.id,
          status: self.workshop.status,
          onDelete: self.onDelete
        });
      },
      onDelete(workshopId) {
        const self = this;
        api.deleteWorkshop(workshopId)
          .then(() => {
            view.showMessage("success", _.Message.workshopDeleted);
            self.$router.push({name: "my-workshops"})
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },
      getFormattedDate() {
        return moment(
          new Date(this.workshop.begin_date)
        ).format("MMMM DD, YYYY - hh:mm a")
      }
    },
    mounted() {
      this.displayWorkshop();
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: false
      });
    },
    destroyed() {
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: true,
        isAdmin: profileDataManager.getProfileData().role === "admin"
      });
    }
  };
</script>

<style scoped>
  .headline {
    color: #4a4a4a;
  }

  .float-text {
    float: right;
  }

  .my-workshop-page .preview-button {
    border-radius: 10px;
    background-color: #0089cb !important;
    color: white;
    font-size: 18px;
  }

  .my-workshop-page .modify-button {
    border-radius: 10px;
    background-color: #3bb98b !important;
    color: white;
    font-size: 18px;
  }

  .my-workshop-page .delete-button {
    border-radius: 10px;
    background-color: #d0021b !important;
    color: white;
    font-size: 18px;
  }

  .my-workshop-page .signed-users-info {
    height: 253px;
    width: 335px;
    border-radius: 10px;
    background-color: #9acae6 !important;
    color: white;
  }

  .my-workshop-page .signed-users-info #title {
    font-size: 24px;
  }

  .my-workshop-page .signed-users-info #amounts {
    font-size: 72px;
  }

  .my-workshop-page .feedback-info {
    height: 253px;
    width: 335px;
    border-radius: 10px;
    background-color: #ebd65a !important;
    color: white;
  }

  .my-workshop-page .feedback-info #title {
    font-size: 24px;
  }

  .my-workshop-page .feedback-info #amounts {
    font-size: 72px;
  }

  .my-workshop-page .feedback-info #users {
    font-size: 16px;
    margin-top: -24px;
  }
</style>
