<template>
  <div class="my-workshops-page">
    <NewWorkshop/>
    <v-img
      class="grey lighten-2"
      height="60"
      src="https://i1.wp.com/gammaknife.com.ec/wp-content/uploads/2016/10/fondo-azul-claro.jpg?ssl=1"
    >
      <div class="pt-2">
        <v-btn
          @click="goBack"
          flat
          icon
        >
          <v-icon
            color="#FFF"
          >
            arrow_back
          </v-icon>
        </v-btn>
        <span class="title white--text font-weight-bold">
          My workshops
        </span>
      </div>
    </v-img>

    <v-container class="fluid">
      <v-layout>
        <v-btn
          @click="newWorkshop()"
          class="text-capitalize font-weight-bold new-workshop-button"
          large
        >
          New workshop
        </v-btn>

        <ButtonNewMessage
          v-bind:OnsendMessage="OnsendMessage"
        />
      </v-layout>

      <v-layout>
        <div class="workshops-section mt-4">
          <EditWorkshop/>
          <DeleteWorkshop/>
          <div class="headline pb-3 font-weight-bold">Next workshops</div>
          <CustomLoader v-bind:isLoading="isLoading"/>
          <div v-if="nextWorkshops.length !== 0">
            <div
              :key="workshop.id"
              v-for="workshop in nextWorkshops"
            >
              <Workshop
                v-bind:onDelete="deleteWorkshop"
                v-bind:onUpdate="updateWorkshop"
                v-bind:speakerId="workshop.speaker_id"
                v-bind:speakerName="workshop.speaker_name"
                v-bind:status="workshopStatus.COMING"
                v-bind:workshopBannerUrl="workshop.banner_url"
                v-bind:workshopBeginDate="workshop.begin_date"
                v-bind:workshopId="workshop.id"
                v-bind:workshopName="workshop.name"
              />
            </div>
          </div>

          <WithoutDataMessage
            v-bind:message="'There are not next workshops'"
            v-else-if="isLoading === false && nextWorkshops.length === 0"
          />

          <div class="headline mt-4 pb-3 font-weight-bold">
            Latest workshops
          </div>
          <CustomLoader v-bind:isLoading="isLoading"/>
          <div v-if="latestWorkshops.length !== 0">
            <div
              :key="workshop.id"
              v-for="workshop in latestWorkshops"
            >
              <Workshop
                v-bind:onDelete="deleteWorkshop"
                v-bind:onUpdate="updateWorkshop"
                v-bind:speakerId="workshop.speaker_id"
                v-bind:speakerName="workshop.speaker_name"
                v-bind:status="workshopStatus.LATEST"
                v-bind:workshopBannerUrl="workshop.banner_url"
                v-bind:workshopBeginDate="workshop.begin_date"
                v-bind:workshopId="workshop.id"
                v-bind:workshopName="workshop.name"
              />
            </div>
          </div>

          <WithoutDataMessage
            v-bind:message="'There are not latest workshops'"
            v-else-if="isLoading === false && latestWorkshops.length === 0"
          />
        </div>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import status from "../../../assets/constants/Enums"
  import EventBus from "../../../bus";
  import ProfileDataManager from "../../../services/session/ProfileDataManager";

  import WithoutDataMessage from "../../../components/WithoutDataMessage";
  import CustomLoader from "../../../components/CustomLoader";
  import WorkshopService from "../../../services/api/WorkshopService";
  import _ from "../../../assets/constants/InfoMessages";
  import view from "../../../services/utils/ViewHandler";

  import Workshop from "../../../components/Workshop";
  import NewWorkshop from "../../../components/Workshop/NewWorkshop";
  import EditWorkshop from "../../../components/Workshop/EditWorkshop";
  import DeleteWorkshop from "../../../components/Workshop/DeleteWorkshop";

  import ButtonNewMessage from "../../../components/ButtonNewMessage";

  const api = new WorkshopService();
  const profileDataManager = new ProfileDataManager();

  export default {
    components: {
      Workshop,
      NewWorkshop,
      EditWorkshop,
      DeleteWorkshop,
      WithoutDataMessage,
      CustomLoader,
      ButtonNewMessage
    },
    data: () => ({
      isLoading: true,
      nextWorkshops: [],
      latestWorkshops: [],
      workshopStatus: status.workshopStatus
    }),
    methods: {
      newWorkshop() {
        EventBus.$emit("newWorkshop", {
          showDialog: true
        });
      },
      goBack() {
        this.$router.back();
      },
      displayWorkshops() {
        const self = this;
        api.getMineWorkshops()
          .then(_workshops => {
            self.isLoading = false;
            _workshops.forEach(element => {
              if (element.status === self.workshopStatus.COMING) {
                self.nextWorkshops.push(element);
              } else if (element.status === self.workshopStatus.LATEST) {
                self.latestWorkshops.push(element);
              }
            });
          })
          .catch(() => {
            self.isLoading = false;
          });
      },
      updateWorkshop(workshop) {
        api.updateWorkshop(workshop)
          .then(() => {
            view.showMessage("success", _.Message.workshopUpdated);
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },
      deleteWorkshop(workshopId, status) {
        const self = this;
        api.deleteWorkshop(workshopId)
          .then(() => {
            self.updateLocalWorkshops(workshopId, status);
            view.showMessage("success", _.Message.workshopDeleted);
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },
      updateLocalWorkshops(workshopId, status) {
        if (status === this.workshopStatus.COMING) {
          let workshopIndex = this.nextWorkshops.findIndex(
            workshop => workshop.id === workshopId
          );
          this.nextWorkshops.splice(workshopIndex, 1);
        } else {
          let workshopIndex = this.latestWorkshops.findIndex(
            workshop => workshop.id === workshopId
          );
          this.latestWorkshops.splice(workshopIndex, 1);
        }
      },
      OnsendMessage(senderId, receiverType, receiverId, title, message) {
        //Implement service to send a message to a user or entire workshop
      }
    },
    mounted() {
      this.displayWorkshops();
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: false
      });
    },
    destroyed() {
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: true,
        isAdmin: profileDataManager.getProfileData().role === "admin"
      });
    }
  };
</script>

<style scoped>
  .my-workshops-page .workshops-section {
    width: 100% !important;
  }

  .my-workshops-page .headline {
    color: #4a4a4a;
  }

  .my-workshops-page .new-workshop-button {
    border-radius: 10px;
    background-color: #3bb98b !important;
    color: white;
    font-size: 18px;
  }

  .my-workshops-page .send-message-button {
    border-radius: 10px;
    background-color: #0089cb !important;
    color: white;
    font-size: 18px;
  }
</style>
