<template>
  <v-container ma-0 pa-0 mt-1>
    <v-layout class="side-bar-container">
      <v-flex class="side-bar" hidden-xs-only>
        <v-list class="side-bar-in">
          <v-list-tile v-for="(tab, index) in adminTabs" :key="tab.title" v-bind:to="tab.url" :data-admin-inner-v-step="index">
            <v-list-tile-action>
              <v-icon color="#6d6d6d">{{tab.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{tab.title}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-flex>
      <v-flex xs12 md10 class="px-4 pt-4">
        <router-view></router-view>
      </v-flex>
    </v-layout>
    <WelcomeTour
      name="admin-inner-tour"
      :steps="adminSteps"
      :onFinish="finishAdminOnboarding"/>
  </v-container>
</template>

<script>
import WelcomeTour from "../../../../../components/WelcomeTour"
import ProfileDataManager from "../../../../../services/session/ProfileDataManager"

var profileDataManager = new ProfileDataManager()

export default {
  components: {
    WelcomeTour
  },
  data() {
    return {
      adminTabs: [
        {
          title: "Requests",
          icon: "today",
          url: "/admin/requests"
        },
        {
          title: "Accounts",
          icon: "account_circle",
          url: "/admin/accounts"
        },
        {
          title: "Workshops",
          icon: "event",
          url: "/admin/workshops"
        },
        {
          title: "Messages",
          icon: "mail_outline",
          url: "/admin/messages"
        },
        {
          title: "Reports",
          icon: "assignment",
          url: "/admin/reports"
        }
      ],
      adminSteps: [
        {
            target: '[data-admin-inner-v-step="0"]',
            content: 'Here you can find every approval request sent by students.',
            params: {
              placement: 'right'
            }
        },
        {
            target: '[data-admin-inner-v-step="1"]',
            content: 'Here you can manage all users accounts! ',
            params: {
              placement: 'right'
            }
        },
        {
            target: '[data-admin-inner-v-step="2"]',
            content: 'Here you can see and modify all in progress workshops.',
            params: {
              placement: 'right'
            }
        },
        {
            target: '[data-admin-inner-v-step="3"]',
            content: 'Here you can send messages to users or workshops, also you can see what the community are sending.',
            params: {
              placement: 'right'
            }
        },
        {
            target: '[data-admin-inner-v-step="4"]',
            content: 'This section was developed for internship program. You can check all reports done by interns.',
            params: {
              placement: 'right'
            }
        }
      ]
    };
  },
  methods: {
    backHome() {
      this.$router.push("/home");
    },
    displayAdminTour() {
      const isDone = profileDataManager.getAdminOnboardingStatus()
      if(this.$vuetify.breakpoint.name != "xs" && !isDone) {
        this.$tours['admin-inner-tour'].start()
      }
    },
    finishAdminOnboarding() {
      profileDataManager.updateAdminOnboardingStatus(true)
    }
  },
  mounted() {
    this.displayAdminTour()
  }
};
</script>

<style scoped>

.container >>> .v-list__tile{
  color: #6d6d6d !important;
}

.container >>> .v-list__tile--active {
  color: #6d6d6d !important;
  background-color: #dadada !important;
}

.container >>> .side-bar-container {
  height: 100%;
}

.container >>> .side-bar {
  background-color: white !important;
  border-right: 1px solid #dadada;
}

.container >>> .side-bar-in {
  padding-top: 30px !important;
  background-color: white !important;
}
.v-step {
  background-color: white !important;
}
</style>
