<template>
  <v-layout row justify-center>
    <v-dialog v-model="showDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Rejection feedback</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md py-0>
            <v-layout wrap>
              <v-flex xs12>
                <div class="body-1 font-weight-regular">
                  <b>To:</b>
                  {{WorkshopName}}
                </div>
              </v-flex>
              <v-flex xs12>
                <div class="subheading mb-2">Message</div>
                <v-textarea v-model="message" :no-resize="true" :rows="10" box required></v-textarea>
              </v-flex>
              <v-flex xs12>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="error" class="mr-4" @click="closeDialog()">Cancel</v-btn>
                  <v-btn color="info" @click="rejectWorkshop()">Reject</v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import EventBus from "../../../../bus";
import _ from "../../../../assets/constants/InfoMessages"
import view from "../../../../services/utils/ViewHandler"
import ApprovalRequestService from "../../../../services/api/ApprovalRequestService"

var api = new ApprovalRequestService()

export default {
  data: () => ({
    showDialog: false,
    approvalId: 0,
    workshopId: 0,
    WorkshopName: "",
    message: ""
  }),
  methods: {
    closeDialog() {
      this.showDialog = false;
    },
    rejectWorkshop() {
      var self = this
      var body = {
        "approval_request": {
          "workshop": {
            "id": self.workshopId
          },
          "id": self.approvalId,
          "comment": self.message,
          "status": "rejected"
        }
      }
      api.updateApprovalRequest(body)
      .then(_response => {
        view.showMessage("success", _.Message.workshopRejected)
        self.closeDialog();
        self.$router.back();
        })
      .catch(error => {
        view.showMessage("error", _.ErrorMessage.requestFailed)
        self.closeDialog();
        self.$router.back();
      })
    }
  },
  beforeMount() {
    EventBus.$on("rejectionFeedback", payload => {
      this.showDialog = payload.showDialog;
      this.approvalId = payload.approvalId;
      this.workshopId = payload.workshopId;
      this.WorkshopName = payload.workshopName;
    });
  }
};
</script>

<style scoped>
.v-btn {
  margin: 0;
}
</style>
