<template>
  <v-layout
    justify-center
    row
  >
    <v-dialog
      max-width="290"
      persistent
      v-model="showDialog"
    >
      <v-card>
        <v-card-title class="headline">
          {{confirmQuestion}}
        </v-card-title>
        <v-card-text>
          {{warningMessage}}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            @click="closeDialog()"
            color="green darken-1"
            flat
          >
            Close
          </v-btn>
          <v-btn
            @click="deleteWorkshop()"
            color="red darken-1"
            flat
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import EventBus from "../../bus";

  export default {
    data() {
      return {
        confirmQuestion: "¿Esta usted seguro que quiere borrar este workshop?",
        warningMessage: "Esta acción no podrá ser revertida.",
        showDialog: false,
        workshopId: String,
        status: String,
        onDelete: Function
      };
    },
    methods: {
      closeDialog() {
        this.showDialog = false
      },
      deleteWorkshop() {
        this.closeDialog()
        this.onDelete(this.workshopId, this.status)
        this.workshopId = 0
      }
    },
    beforeMount() {
      EventBus.$on("deleteWorkshop", payload => {
        this.showDialog = payload.showDialog
        this.workshopId = payload.workshopId
        this.status = payload.status
        this.onDelete = payload.onDelete
      })
    }
  };
</script>
<style scoped>
</style>
