<template>
  <v-layout
    justify-center
    row
  >
    <v-dialog
      max-width="600px"
      persistent
      v-model="showDialog"
    >
      <v-card>
        <v-form
          lazy-validation
          ref="form"
          v-model="valid"
        >
          <v-card-title
            class="pa-0"
          >
            <v-layout>
              <v-flex
                xs6
              >
                <v-img
                  :height="165"
                  :src="body.workshop.banner_url"
                  :width="292.5"
                ></v-img>
                <div class="change-flyer-parent mt-1">
                  <input
                    @change="onFilePicked"
                    accept="image/x-png, image/jpg, image/jpeg"
                    ref="imageUpload"
                    type="file"
                    v-show="false"
                  />
                  <a>
                    <p class="body-1 grey--text">
                      {{imageName}}
                    </p>
                  </a>
                </div>
              </v-flex>
              <v-flex
                ml-4
                xs6
              >
                <v-layout
                  align-center
                  fill-height
                  justify-start
                >
                  <v-flex
                    xs12
                  >
                    <v-text-field
                      :rules="workshopNameRules"
                      label="name"
                      required
                      v-model="body.workshop.name"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-text>
            <v-flex
              xs6
            >
              <div
                class="text-xs-center"
              >
                <span
                  @click="$refs.imageUpload.click()"
                  class="body-1 grey--text"
                >
                  <u class="changeImage">
                    add banner
                  </u>
                </span>
              </div>
            </v-flex>
            <v-container
              grid-list-md
            >
              <v-layout
                wrap
              >
                <div class="title">
                  Workshop info
                </div>
                <v-flex
                  xs12
                >
                  <v-textarea
                    :rules="workshopDescriptionRules"
                    box
                    label="Description"
                    v-model="body.workshop.description"
                  ></v-textarea>
                </v-flex>
                <v-flex
                  xs12
                >
                  <v-text-field
                    :rules="workshopDocumentationUrlRules"
                    label="Documentation url on github"
                    v-model="body.workshop.documentation_url"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  md6
                  xs12
                >
                  <v-col
                    cols="12"
                    md="4"
                    sm="6"
                  >
                    <v-menu
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      full-width
                      min-width="290px"
                      offset-y
                      ref="dateMenu"
                      transition="scale-transition"
                      v-model="dateMenu"
                    >
                      <template
                        v-slot:activator="{ on }"
                      >
                        <v-text-field
                          :rules="workshopBeginDateRules"
                          label="Begin date"
                          readonly
                          v-model="date"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        :min="new Date().toISOString().substr(0, 10)"
                        no-title
                        scrollable
                        v-model="date"
                      >
                        <div class="flex-grow-1"></div>
                        <v-btn
                          @click="dateMenu = false"
                          color="primary"
                          text
                        >
                          Cancel
                        </v-btn>
                        <v-btn
                          @click="$refs.dateMenu.save(date)"
                          color="primary"
                          text
                        >
                          OK
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-flex>
                <v-flex
                  md6
                  xs12
                >
                  <v-col
                    cols="11"
                    sm="5"
                  >
                    <v-menu
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="time"
                      full-width
                      max-width="290px"
                      min-width="290px"
                      offset-y
                      ref="timeMenu"
                      transition="scale-transition"
                      v-model="timeMenu"
                    >
                      <template
                        v-slot:activator="{ on }"
                      >
                        <v-text-field
                          :rules="workshopBeginTimeRules"
                          label="Begin time"
                          readonly
                          v-model="time"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        @click:minute="$refs.timeMenu.save(time)"
                        full-width
                        v-if="timeMenu"
                        v-model="time"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    :rules="workshopLimitRules"
                    label="registration limit"
                    required
                    v-model="body.workshop.limit_room"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-form>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            @click="closeDialog()"
            color="blue darken-1"
            flat
          >
            Close
          </v-btn>
          <v-btn
            @click="createWorkshop()"
            color="blue darken-1"
            flat
          >
            Create
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
  import moment from "moment";
  import EventBus from "../../bus";
  import view from "../../services/utils/ViewHandler";
  import _ from "../../assets/constants/InfoMessages";
  import rules from "../../assets/constants/Rules";
  import FirebaseCloudStorage from "../../plugins/firebase/CloudStorage/FirebaseCloudStorage";
  import WorkshopService from "../../services/api/WorkshopService";

  const firebaseCloud = new FirebaseCloudStorage();
  const api = new WorkshopService();

  export default {
    data: () => ({
      showDialog: false,
      valid: false,
      dateMenu: false,
      timeMenu: false,
      date: "",
      time: "",
      imageName: "",
      imageUrl: "",
      imageFile: "",
      body: {
        workshop: {
          name: "",
          description: "",
          banner_url: "",
          documentation_url: "",
          begin_date: "",
          limit_room: 0
        }
      },
      workshopNameRules: [rules.isRequiredRule("Workshop name")],
      workshopDescriptionRules: [rules.isRequiredRule("Workshop description")],
      workshopBeginDateRules: [rules.isRequiredRule("Workshop begin date")],
      workshopBeginTimeRules: [rules.isRequiredRule("Workshop begin time")],
      workshopLimitRules: [rules.isRequiredRule("Workshop limit")]
    }),
    methods: {
      closeDialog() {
        this.showDialog = false;
      },
      onFilePicked(e) {
        const files = e.target.files;
        if (files[0] !== undefined) {
          this.imageName = files[0].name;
          if (this.imageName.lastIndexOf(".") <= 0) {
            return;
          }
          const fr = new FileReader();
          fr.readAsDataURL(files[0]);
          fr.addEventListener("load", () => {
            this.imageUrl = fr.result;
            this.imageFile = files[0]; // this is an image file that can be sent to server...
          });
        } else {
          this.imageName = "";
          this.imageFile = "";
          this.imageUrl = "";
        }
      },
      createWorkshop() {
        const self = this;
        if (self.$refs.form.validate()) {
          if (self.imageFile) {
            if (self.imageFile.size / 1000 < 5000) {
              firebaseCloud.uploadImage(self.imageFile, "workshop", function (
                imageUrl
              ) {
                if (imageUrl != null) {
                  self.body.workshop.banner_url = imageUrl;
                  self.body.workshop.begin_date = self.getConcatenatedTimeAndDate();
                  self.create();
                } else {
                  view.showMessage(
                    "error",
                    "Ocurrió un error al actualizar su información"
                  );
                }
              });
            } else {
              view.showMessage("error", "La imagen debe pesar menos de 5 MB");
            }
          } else {
            self.body.workshop.begin_date = self.getConcatenatedTimeAndDate();
            self.create();
          }
        }
      },

      create() {
        var self = this;
        api
          .createWorkshop(self.body)
          .then(() => {
            view.showMessage("success", _.Message.workshopCreated);
            self.closeDialog();
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },

      getConcatenatedTimeAndDate() {
        return (this.body.workshop.begin_date = moment(
          this.date + " " + this.time
        ).format());
      }
    },
    beforeMount() {
      EventBus.$on("newWorkshop", payload => {
        this.showDialog = payload.showDialog;
      });
    }
  };
</script>

<style scoped>
  .change-flyer-parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .changeImage:hover {
    cursor: pointer;
  }
</style>
