<template>
  <div>
    <v-layout
      align-center
      class="pt-5"
      fill-height
      justify-center
      row
    >
      <v-flex
        lg5
        pt-5
        xs10
      >
        <v-card flat>
          <v-img
            :src="logoUrl"
            class="logo my-3"
            width="250"
          />
          <p class="title text-md-center">
            Sign in
          </p>

          <v-card-text class="form pt-4">
            <v-form>

              <v-text-field
                placeholder="Username or Email"
                required
                solo
                v-model="email"
              ></v-text-field>

              <v-text-field
                :append-icon="show ? 'visibility' : 'visibility_off'"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                name="password"
                placeholder="Password"
                solo
                v-model="password"
              ></v-text-field>

            </v-form>
          </v-card-text>

          <v-card-actions :class="{'px-4': $vuetify.breakpoint.xs, 'px-5 py-0': $vuetify.breakpoint.mdAndUp}">
            <v-spacer></v-spacer>
            <v-btn
              :loading="loadingForm"
              @click="login"
              class="mb-4"
              color="success"
              dark
              fab
            >
              <v-icon dark>arrow_forward</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

        <p class="subheading align-center mt-4 mb-5">
          Don't have an account?
          <router-link to="/register">
            <span class="sign-up">Sign up</span>
          </router-link>
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import SessionService from "../../../services/api/SessionService"
  import AuthManager from "../../../services/session/AuthManager"
  import _ from "../../../assets/constants/InfoMessages"
  import EventBus from "../../../bus"
  import view from "../../../services/utils/ViewHandler"

  const authManager = new AuthManager()
  const api = new SessionService()

  export default {
    data() {
      return {
        loadingForm: false,
        show: false,
        logoUrl: require("../../../assets/imgs/workshop-logo-letters.png"),
        email: "",
        password: ""
      }
    },
    methods: {
      login() {
        const self = this
        const user = { email: self.email, password: self.password }
        api.login(user)
          .then(result => {
            EventBus.$emit("handleNavigationBar", {
              logged: true,
              showTabs: true,
              isAdmin: result.data.role === 'admin'
            })
            self.$router.push({ name: "home "})
          })
          .catch(error => {
            if (error === 401) {
              view.showMessage("error", _.ErrorMessage.wrongCredentials)
            } else {
              view.showMessage("error", _.ErrorMessage.requestFailed)
            }
          })
      }
    },
    beforeMount() {
      if (authManager.getHeaders().headers["access-token"] != null) {
        this.$router.push({name: "home"})
      }
    }
  };
</script>

<style scoped>
  .align-center {
    text-align: center;
  }

  .v-card {
    border: 1px solid lightgray !important;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

  div >>> .v-input__slot {
    border-radius: 4px !important;
    border: 1px solid #6d6d6d !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  div >>> .title {
    color: #4a4a4a;
  }

  div >>> a {
    text-decoration: none;
  }

  div >>> .sign-up {
    color: #3bb98b;
  }
</style>
