<template>
  <div>
    <v-layout
      align-center
      class="pt-4"
      fill-height
      justify-center
      row
    >
      <v-flex
        lg5
        xs10
      >
        <v-card flat>
          <v-img
            :src="logoUrl"
            class="logo my-3"
            width="250"
          />
          <p class="title text-md-center">
            Sign up
          </p>
          <v-card-text class="form pt-4">
            <v-form
              lazy-validation
              ref="form"
              v-model="valid">

              <v-text-field
                :rules="nameRules"
                placeholder="Name"
                required
                solo
                v-model="name"
              ></v-text-field>

              <v-text-field
                :rules="lastNameRules"
                placeholder="Lastname"
                required
                solo
                v-model="lastname"
              ></v-text-field>

              <v-text-field
                :rules="emailRules"
                placeholder="Email"
                required
                solo
                v-model="email"
              ></v-text-field>

              <v-text-field
                :append-icon="show ? 'visibility' : 'visibility_off'"
                :rules="passwordRules"
                :type="show ? 'text' : 'password'"
                @click:append="show = !show"
                name="password"
                placeholder="Password"
                solo
                v-model="password"
              ></v-text-field>

              <v-text-field
                :rules="confirmPasswordRules"
                name="confirmPassword"
                placeholder="Confirm password"
                solo
                type="password"
                v-model="confirmPassword"
              ></v-text-field>

              <v-select
                :items="['Student', 'Intern', 'Admin']"
                placeholder="Select type of user"
                solo
                v-model="role"
              ></v-select>

              <v-select
                :items="['CoatiLabs', 'Cubicode', 'Gleo', 'KSquare', 'MIDSoftware', 'SoldAI', 'Walook', 'Yellowme']"
                placeholder="Intern company"
                solo
                v-if="role == 'Intern'"
                v-model="company"
              ></v-select>

              <v-text-field
                :rules="rolePasswordRules"
                :type="password"
                name="rolePassword"
                placeholder="Access code"
                solo
                v-if="role !== 'Student'"
                v-model="rolePassword"
              ></v-text-field>

              <v-text-field
                :rules="botValidatorRules"
                class="invisible"
                invisible
                solo
                v-model="botValidator"
              ></v-text-field>

            </v-form>
          </v-card-text>

          <v-card-actions :class="{'px-4': $vuetify.breakpoint.xs, 'px-5 py-0': $vuetify.breakpoint.mdAndUp}">
            <v-spacer></v-spacer>
            <v-btn
              :loading="loadingForm"
              @click="registerNewUser"
              class="mb-4"
              color="success"
              dark
              fab
            >
              <v-icon dark>arrow_forward</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

        <p class="subheading align-center mt-4 mb-5">
          Do you have an account?
          <router-link to="/">
            <span class="sign-up">Sign in</span>
          </router-link>
        </p>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import AuthManager from "../../../services/session/AuthManager"
  import SessionService from "../../../services/api/SessionService"
  import _ from "../../../assets/constants/InfoMessages"
  import EventBus from "../../../bus"
  import view from "../../../services/utils/ViewHandler"
  import rules from "../../../assets/constants/Rules"

  const authManager = new AuthManager()
  const api = new SessionService()

  export default {
    data() {
      return {
        logoUrl: require("../../../assets/imgs/workshop-logo-letters.png"),
        loadingForm: false,
        show: false,
        valid: false,
        name: "",
        nameRules: [rules.isRequiredRule("Name")],
        lastname: "",
        lastNameRules: [rules.isRequiredRule("Lastname")],
        email: "",
        emailRules: [
          rules.isRequiredRule("Email"),
          rules.isValidEmail()
        ],
        password: "",
        passwordRules: [rules.isRequiredRule("Password")],
        confirmPassword: "",
        confirmPasswordRules: [
          v => this.isPasswordMatching(v) || "Password is not matching",
          rules.isRequiredRule("Password confirmation")
        ],
        role: "Student",
        rolePassword: "",
        rolePasswordRules: [rules.isRequiredRule("Password")],
        company: "",
        botValidator: "",
        botValidatorRules: [
          v => v === "" || 'Mmmm... You are a bot!.'
        ],
      };
    },
    methods: {
      registerNewUser() {
        const self = this
        if (self.$refs.form.validate()) {
          let user = {
            name: self.name,
            lastname: self.lastname,
            email: self.email,
            password: self.password,
            password_confirmation: self.confirmPassword,
            role: self.role.toLowerCase(),
            role_password: self.rolePassword,
            company: self.company,
          }
          api.signUp(user)
            .then(() => {
              EventBus.$emit("handleNavigationBar", {
                logged: true,
                showTabs: true
              })
              self.$router.push({name: "home"})
            })
            .catch(error => {
              if (error === 422) {
                view.showMessage("error", _.ErrorMessage.wrongSignUp)
              } else {
                view.showMessage("error", _.ErrorMessage.requestFailed)
              }
            })
        }
      },
      isPasswordMatching(confirmPassword) {
        return confirmPassword === this.password
      }
    },
    beforeMount() {
      if (authManager.getHeaders().headers["access-token"] != null) {
        this.$router.push({name: "home"})
      }
    }
  };
</script>

<style scoped>
  .align-center {
    text-align: center;
  }

  .layout {
    background-color: white !important;
  }

  .v-card {
    border: 1px solid lightgray !important;
  }

  div >>> .v-input__slot {
    border-radius: 4px !important;
    border: 1px solid #6d6d6d !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  div >>> .title {
    color: #4a4a4a;
  }

  div >>> a {
    text-decoration: none;
  }

  div >>> .sign-up {
    color: #3bb98b;
  }

  .invisible {
    visibility: hidden;
  }

  .v-select {
    background-color: white;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }
</style>
