<template>
  <v-hover>
    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 5 : 1}`" class="mt-3">
      <v-card-actions>
        <v-list-tile class="grow" @click="goToReport(userId, userFirstName)">
          <v-list-tile-avatar color="grey darken-3">
            <v-img class="elevation-1" :src="imgSrc"></v-img>
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title class="font-weight-bold">{{username}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-spacer></v-spacer>

        <span v-if="amountOnReview != 0" class="subheading mr-2">{{amountOnReview}} on review</span>
        <v-btn v-if="amountOnReview == 0" flat icon class="mr-2">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  props: {
    userId: Number,
    userFirstName: String,
    imgSrc: String,
    username: String,
    amountOnReview: Number
  },
  methods: {
    goToReport(id, firstName) {
      this.$router.push({
        name: "user-report",
        params: { userId: id, userFirstName: firstName }
      });
    }
  }
};
</script>

<style scoped>
.v-card {
  border-radius: 6px;
}
</style>