<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md4>
        <div class="headline font-weight-bold">All Reports</div>
        <v-btn flat icon class="ml-2">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </v-flex>

      <v-flex xs12 md4>
        <v-menu
          ref="BeginDatePicker"
          v-model="BeginDatePicker"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="computedBeginDateFormatted"
              label="Begin Date"
              hint="MM/DD/YYYY format"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="BeginDate" no-title @input="BeginDatePicker = false"></v-date-picker>
        </v-menu>
      </v-flex>

      <v-flex xs12 md4>
        <v-menu
          ref="EndDatePicker"
          v-model="EndDatePicker"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="computedEndDateFormatted"
              label="End Date"
              hint="MM/DD/YYYY format"
              persistent-hint
              prepend-icon="event"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="EndDate" no-title @input="EndDatePicker = false"></v-date-picker>
        </v-menu>
      </v-flex>
    </v-layout>

    <v-flex xs12>
      <v-select
        v-model="usersSelected"
        :items="users"
        label="Select internshippers"
        multiple
        chips
        :clearable="true"
      >
        <!--Select all ption-->
        <template v-slot:prepend-item>
          <v-list-tile ripple @click="toggleSelectAllUser">
            <v-list-tile-action>
              <v-icon :color="usersSelected.length > 0 ? 'primary darken-1' : ''">{{ selectedIcon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Select All</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider class="mt-2"></v-divider>
        </template>

        <!--Options on selector-->
        <template slot="item" slot-scope="data">
          <v-avatar :size="25" color="grey lighten-4">
            <img :src="data.item.user_photo_url" alt="avatar" />
          </v-avatar>
          <span class="cb-item ml-2">{{data.item.user_name}}</span>
        </template>

        <!--Options on input-->
        <template slot="selection" slot-scope="data">
          <v-chip
            :key="JSON.stringify(data.item)"
            :selected="data.selected"
            :disabled="data.selected"
            class="v-chip--select-multi"
            @input="data.parent.selectItem(data.item)"
          >
            <v-avatar :side="25" color="grey lighten-4">
              <img :src="data.item.user_photo_url" alt="avatar" />
            </v-avatar>
            {{ data.item.user_name }}
          </v-chip>
        </template>
      </v-select>
    </v-flex>
  </div>
</template>

<script>
import AccountService from "../../../../../../services/api/AccountService";
const apiAccounts = new AccountService();

export default {
  data() {
    return {
      usersSelected: [],
      users: [],
      BeginDatePicker: false,
      EndDatePicker: false,
      BeginDate: new Date().toISOString().substr(0, 10),
      BeginDateFormatted: this.formatDatePicker(
        new Date().toISOString().substr(0, 10)
      ),
      EndDate: new Date().toISOString().substr(0, 10),
      EndDateFormatted: this.formatDatePicker(
        new Date().toISOString().substr(0, 10)
      ),
      numberOfCompanys: 0
    };
  },
  methods: {
    displayAccounts() {
      apiAccounts
        .getAccounts()
        .then(_accounts => {
          let accountsGroupByCompany = _accounts.reduce((r, a) => {
            r[a.company] = [...(r[a.company] || []), a];
            return r;
          }, {});

          var accountsOrdered = {};
          Object.keys(accountsGroupByCompany)
            .sort()
            .forEach(key => {
              accountsOrdered[key] = accountsGroupByCompany[key];
            });

          for (var company in accountsOrdered) {
            company == "null"
              ? this.users.push({ header: "Without company" })
              : this.users.push({ header: company });
            accountsOrdered[company].forEach((element, index) => {
              this.users.push({
                value: element.id,
                user_name: element.name + " " + element.lastname,
                user_photo_url: element.photoUrl
              });
            });
            this.numberOfCompanys++;
          }
        })
        .catch(() => {});
    },
    formatDatePicker(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDatePicker(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    toggleSelectAllUser() {
      this.$nextTick(() => {
        if (this.isSelectedAllUsers) {
          this.usersSelected = [];
        } else {
          this.usersSelected = [];
          this.users.forEach(element => {
            if (element.header == undefined) {
              this.usersSelected.push(element);
            }
          });
        }
      });
    }
  },
  computed: {
    computedBeginDateFormatted() {
      return this.formatDatePicker(this.BeginDate);
    },
    computedEndDateFormatted() {
      return this.formatDatePicker(this.EndDate);
    },
    isSelectedAllUsers() {
      return (
        this.usersSelected.length === this.users.length - this.numberOfCompanys
      );
    },
    isSelectedSomeUser() {
      return this.usersSelected.length > 0 && !this.isSelectedAllUsers;
    },
    selectedIcon() {
      if (this.isSelectedAllUsers) return "check_box";
      if (this.isSelectedSomeUser) return "indeterminate_check_box";
      return "check_box_outline_blank";
    }
  },
  mounted() {
    this.displayAccounts();
  }
};
</script>

<style scoped>
.headline {
  color: #4a4a4a;
}
</style>