<template>
  <div class="Messages">
    <ShowMessage/>
    <v-layout align-center justify-center fill-height>
      <v-flex xs11>
        <span class="headline font-weight-bold">Messages</span>
      </v-flex>
      <v-flex xs1>
        <ButtonNewMessage/>
      </v-flex>
    </v-layout>

    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="messages.length != 0">
      <Message
        v-for="message in messages"
        :key="message.id"
        v-bind:id="message.id"
        v-bind:title="message.body"
        v-bind:receiver="message.destinatary_type"
        v-bind:sender="message.author.name + ' ' + message.author.lastname"
        v-bind:date="getFormattedDate(message.created_at_timestamp)"
      />
    </div>

    <WithoutDataMessage v-else-if="isLoading == false && messages.length == 0" v-bind:message="'There are not messages'" />
  </div>
</template>

<script>
import Message from "./components/Message";
import WithoutDataMessage from "../../../../../components/WithoutDataMessage";
import ButtonNewMessage from "../../../../../components/ButtonNewMessage";
import CustomLoader from "../../../../../components/CustomLoader"
import ShowMessage from "./components/ShowMessage";
import moment from "moment"
import MessagesService from "../../../../../services/api/MessagesService"
var api = new MessagesService()

export default {
  components: {
    Message,
    WithoutDataMessage,
    ButtonNewMessage,
    ShowMessage,
    CustomLoader
  },
  data() {
    return {
      isLoading: true,
      messages: []
    };
  },
  methods: {
    displayMessages() {
      var self = this
      api.getMessages()
        .then(_messages => {
           self.isLoading = false
          _messages.reverse()
          _messages.forEach(function(element) {
            self.messages.push(element)
          })
        })
        .catch(() => {
          self.isLoading = false
        })
    },
    getFormattedDate(date) {
      var _date = new Date(date * 1000)
      return moment(String(_date)).format("MMM DD, YYYY - hh:mm a")
    }
  },
  mounted() {
    this.displayMessages()
  }
};
</script>

<style scoped>
.headline {
  color: #4a4a4a;
}
</style>
