<template>
  <v-layout
    row
    wrap
  >
    <v-flex xs12>
      <v-img
        class="grey lighten-2"
        height="300"
        src="https://i1.wp.com/gammaknife.com.ec/wp-content/uploads/2016/10/fondo-azul-claro.jpg?ssl=1"
      >

        <v-btn
          @click="goBack"
          flat
          icon
        >
          <v-icon color="#FFF">arrow_back</v-icon>
        </v-btn>

        <v-container
          text-xs-center
        >
          <v-layout
            align-center
            fill-height
            justify-center
            row
          >
            <v-flex>
              <v-avatar
                color="grey lighten-4"
                size="120"
              >
                <v-img
                  :src="photoUrl"
                />
              </v-avatar>
            </v-flex>
          </v-layout>

          <v-layout
            @click="$refs.imageUpload.click()"
            align-center
            class="pt-2 imageInput"
            fill-height
            justify-center
            row
          >
            <v-flex>
              <input
                @change="onFilePicked"
                accept="image/x-png, image/jpg, image/jpeg"
                ref="imageUpload"
                type="file"
                v-show="false"
              />
              <span class="white--text">
              {{imageName}}
            </span>
              <v-icon dark>
                edit
              </v-icon>
            </v-flex>
          </v-layout>
        </v-container>
      </v-img>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: {
      photoUrl: String,
      onPhotoUpdated: Function
    },
    data() {
      return {
        imageName: 'Actualizar',
        imageUrl: '',
        imageFile: '',
      }
    },
    methods: {
      goBack() {
        this.$router.back();
      },
      onFilePicked(e) {
        const files = e.target.files
        if (files[0] !== undefined) {
          this.imageName = files[0].name
          if (this.imageName.lastIndexOf('.') <= 0) {
            return
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.imageUrl = fr.result
            this.imageFile = files[0] // this is an image file that can be sent to server...
            this.onPhotoUpdated(this.imageFile)
          })
        } else {
          this.imageName = ''
          this.imageFile = ''
          this.imageUrl = ''
        }
      }
    }
  }
</script>

<style scoped>
  .imageInput:hover {
    cursor: pointer;
  }
</style>
