<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      xs12
    >
      <v-img
        class="grey lighten-2"
        height="50"
        src="https://i1.wp.com/gammaknife.com.ec/wp-content/uploads/2016/10/fondo-azul-claro.jpg?ssl=1"
      >
        <v-btn
          @click="goBack"
          flat
          icon
        >
          <v-icon
            color="#FFF"
          >
            arrow_back
          </v-icon>
        </v-btn>
      </v-img>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    methods: {
      goBack() {
        this.$router.back();
      }
    }
  }
</script>
