<template>
  <v-layout
    justify-center
    row
  >
    <v-dialog
      max-width="600px"
      persistent
      v-model="showDialog"
    >
      <v-card>
        <v-card-text>
          <v-container
            grid-list-md
            py-0
          >
            <v-layout
              wrap
            >
              <v-flex
                xs12
              >
                <span class="headline">
                  {{senderName}} ({{senderLastname}})
                </span>
              </v-flex>

              <v-flex
                xs12
              >
                <div class="subheading mb-2">
                  Message
                </div>
                <v-textarea
                  :no-resize="true"
                  :readonly="true"
                  :rows="10"
                  box
                  required
                  v-model="message"
                ></v-textarea>
              </v-flex>

              <v-flex
                xs12
              >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    @click="closeDialog"
                    color="error"
                  >
                    Close
                  </v-btn>
                </v-card-actions>
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import EventBus from "../../../../bus";

  export default {
    data() {
      return {
        showDialog: false,
        senderName: "",
        senderLastname: "",
        message: ""
      };
    },
    methods: {
      closeDialog() {
        this.showDialog = false;
      }
    },
    beforeMount() {
      EventBus.$on("showNotificationMessage", payload => {
        this.showDialog = payload.showDialog;
        this.senderName = payload.senderName;
        this.senderLastname = payload.senderLastname;
        this.message = payload.message;
      });
    }
  };
</script>
