<template>
  <div class="notification">
    <v-list-tile
      @click="showNotification()"
    >
      <v-list-tile-avatar>
        <v-img
          :src="photoSrc"
          height="50"
          width="50"
        ></v-img>
      </v-list-tile-avatar>

      <v-layout>
        <v-flex
          md9
          xs12
        >
          Le ha mandado un mensaje
          <strong>{{senderName}} {{senderLastname}} </strong>

          <span v-if="message.length < 50">
            Message: {{ message }}
          </span>
          <span v-else>
            Message: {{ message.substring(0, 50) + "..." }}
          </span>

          <div class="hidden-md-and-up">
            {{formatDate(timestamp)}}
          </div>
        </v-flex>

        <v-flex md3>
          <div class="hidden-sm-and-down">
            {{formatDate(timestamp)}}
          </div>
        </v-flex>

      </v-layout>
    </v-list-tile>
  </div>
</template>

<style scoped>
  .notification >>> a.v-list__tile {
    height: auto;
    padding: 16px;
    background-color: #f8f8f8;
    border-bottom: 1px #c4c4c4 solid;
  }

  .notification >>> a.v-list__tile:hover {
    background-color: #c4c4c4 !important;
  }
</style>

<script>
  import moment from "moment";
  import EventBus from "../../../../bus";

  export default {
    props: {
      photoSrc: String,
      senderName: String,
      senderLastname: String,
      message: String,
      timestamp: String,
      type: String
    },
    methods: {
      showNotification() {
        if (this.type === "Message") {
          EventBus.$emit("showNotificationMessage", {
            showDialog: true,
            senderName: this.senderName,
            senderLastname: this.senderLastname,
            message: this.message
          });
        }
      },
      formatDate(datetime) {
        let date = new Date(datetime * 1000);
        return moment(String(date)).format("hh:mm a MMMM DD, YYYY");
      }
    }
  };
</script>
