<template>
  <div class="workshops-page">
    <NewWorkshop />
    <v-container fluid px-0>
      <!-- <CarouselBanners /> -->

      <v-layout mt-3>
        <v-flex xs12 md9 sm10 lg10 xl11>
          <div
            class="headline font-weight-bold pb-3"
            :class="{'pl-5': $vuetify.breakpoint.smAndUp}"
          >Next workshops</div>
          <CustomLoader v-bind:isLoading="isLoading" />
          <v-layout :class="{'pl-5': $vuetify.breakpoint.smAndUp}">
            <section class="scroll d-flex" v-if="nextWorkshops.length != 0">
              <CardWorkshop
                v-for="workshop in nextWorkshops"
                :key="workshop.id"
                v-bind:id="workshop.id"
                v-bind:src="workshop.banner_url"
                v-bind:title="workshop.name"
                v-bind:date="workshop.begin_date"
                v-bind:signed_users="workshop.subscribers"
                v-bind:speakerId="workshop.speaker_id"
                v-bind:status="'coming'"
                v-bind:isSubscribed="workshop.is_subscribed"
              />
            </section>
            <WithoutDataMessage
              v-else-if="isLoading == false && nextWorkshops.length == 0"
              v-bind:message="'There are not next workshops'"
            />
          </v-layout>

          <div
            class="headline font-weight-bold pb-3 mt-4"
            :class="{'pl-5': $vuetify.breakpoint.smAndUp}"
          >Past workshops</div>
          <CustomLoader v-bind:isLoading="isLoading" />
          <v-layout :class="{'pl-5': $vuetify.breakpoint.smAndUp}">
            <section class="scroll d-flex" v-if="pastWorkshops.length != 0">
              <CardWorkshop
                v-for="workshop in pastWorkshops"
                :key="workshop.id"
                v-bind:id="workshop.id"
                v-bind:src="workshop.banner_url"
                v-bind:title="workshop.name"
                v-bind:date="workshop.begin_date"
                v-bind:signed_users="workshop.subscribers"
                v-bind:speakerId="workshop.speaker_id"
                v-bind:status="'passed'"
                v-bind:isSubscribed="workshop.is_subscribed"
              />
            </section>
            <WithoutDataMessage
              v-else-if="isLoading == false && pastWorkshops.length == 0"
              v-bind:message="'There are not past workshops'"
            />
          </v-layout>
        </v-flex>

        <v-flex class="hidden-xs-only" md3 lg2 xl1>
          <v-btn
            large
            class="text-capitalize font-weight-bold new-workshop-button"
            @click="newWorkshop()"
          >New workshop</v-btn>

          <!-- <CategoriesFilter /> -->
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style scoped>
.workshops-page >>> .headline {
  color: #4a4a4a;
}

.workshops-page >>> .scroll {
  min-width: 100%;
  min-height: 350px;
  overflow-x: auto;
}

.workshops-page .title {
  padding-left: 12px;
}

.workshops-page >>> .new-workshop-button {
  border-radius: 10px;
  background-color: #3bb98b !important;
  color: white;
  font-size: 18px;
}
</style>

<script>
import EventBus from "../../../bus";

import WithoutDataMessage from "../../../components/WithoutDataMessage";
import CardWorkshop from "../../../components/CardWorkshop";
import CustomLoader from "../../../components/CustomLoader";
import NewWorkshop from "../../../components/Workshop/NewWorkshop";
import CarouselBanners from "./components/CarouselBanners";
import CategoriesFilter from "./components/CategoriesFilter";

import WorkshopService from "../../../services/api/WorkshopService";
var api = new WorkshopService();

export default {
  components: {
    WithoutDataMessage,
    CardWorkshop,
    CustomLoader,
    NewWorkshop,
    CarouselBanners,
    CategoriesFilter
  },
  data() {
    return {
      isLoading: true,
      nextWorkshops: [],
      pastWorkshops: []
    };
  },
  methods: {
    newWorkshop() {
      EventBus.$emit("newWorkshop", {
        showDialog: true
      });
    },
    displayWorkshops() {
      var self = this;
      api
        .getBriefWorkshops()
        .then(workshops => {
          self.isLoading = false;
          workshops.forEach(function(element) {
            if (element.status === "coming") {
              self.nextWorkshops.push(element);
            } else if (element.status === "passed") {
              self.pastWorkshops.push(element);
            }
          });
        })
        .catch(() => {
          self.isLoading = false;
        });
    }
  },
  mounted() {
    this.displayWorkshops();
  }
};
</script>
