<template>
  <div>
    <div class="headline pb-3 font-weight-bold">Active users</div>
    <CustomLoader v-bind:isLoading="isLoading"/>
    <div v-if="accounts.length != 0">
      <Account
        v-for="account in accounts"
        :key="account.id"
        v-bind:accountId="account.id"
        v-bind:userPhotoUrl="account.photoUrl"
        v-bind:username="account.name + ' ' + account.lastname"
        v-bind:score="account.score"
        v-bind:trelloUsername="account.trello_username"
        v-bind:role="account.role"
        v-bind:onUpdate="updateAccount"
        v-bind:onDelete="deleteAccount"
      />
    </div>
    <WithoutDataMessage v-else-if="isLoading == false && accounts.length == 0" v-bind:message="'There are not accounts'" />
  </div>
</template>

<script>
import Account from "./components/Account";
import WithoutDataMessage from "../../../../../components/WithoutDataMessage";
import CustomLoader from "../../../../../components/CustomLoader"
import AccountService from "../../../../../services/api/AccountService"
import _ from "../../../../../assets/constants/InfoMessages"
import view from "../../../../../services/utils/ViewHandler"

var api = new AccountService()

export default {
  components: {
    Account,
    WithoutDataMessage,
    CustomLoader
  },
  data: () => ({
    isLoading: true,
    accounts: []
  }),
  methods: {
    displayAccounts() {
      var self = this
      api.getAccounts()
        .then(_accounts => {
          self.isLoading = false
          _accounts.forEach(function(element, index) {
            self.accounts.push(element)
          })
        })
        .catch(() => {
          self.isLoading = false
        })
    },
    updateAccount(account) {
      api.updateAccount(account)
        .then(() => {
          view.showMessage("success", _.Message.accountUpdated)
        })
        .catch(() => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    deleteAccount(accountId) {
      var self = this
      api.deleteAccount(accountId)
        .then(() => {
          self.updateLocalAccounts(accountId)
          view.showMessage("success", _.Message.accountDeleted)
        })
        .catch(() => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    updateLocalAccounts(accountId) {
      let accountIndex = this.accounts.findIndex(account => account.id === accountId)
      this.accounts.splice(accountIndex, 1)
    }
  },
  mounted() {
    this.displayAccounts()
  }
};
</script>

<style scoped>
.headline {
  color: #4a4a4a;
}
</style>
