<template>
  <div class="WorkshopDetail">
    <RejectionFeedback />
    <v-img
      :src="workshop.banner_url"
      height="320"
      class="grey lighten-2"
    >
      <v-btn flat icon @click="back">
        <v-icon color="#FFF">arrow_back</v-icon>
      </v-btn>
    </v-img>

    <v-container>
      <v-layout>
        <v-flex xs9 pr-5>
          <div class="display-1 font-weight-bold mb-2">{{workshop.name}}</div>
          <div class="subheading font-weight-bold mb-2">
            Imparted by
            <a @click="viewUser()">{{workshop.speaker.name}} {{workshop.speaker.lastname}}</a>
          </div>
          <!-- Hidden tempo rating
          <div class="mb-3">
            <v-list-tile>
              <v-rating
                v-model="workshop.rating"
                background-color="grey lighten-3"
                color="orange"
                medium
                :readonly="true"
              ></v-rating>
              <div class="subheading">0.0 (0 ratings)</div>
            </v-list-tile>
          </div>
          -->
          <div class="display-1 font-weight-bold mb-2">Description</div>
          <div
            class="subheading justify--text"
          >{{workshop.description}}</div>
        </v-flex>
        <v-flex xs3>
          <v-container pa-0>
            <v-layout>
              <v-flex x12>
                <div v-if="is_preview">
                  <div class="approval-request-option reject-option text-xs-center" @click="rejectWorkshop()">
                    <v-layout align-center justify-center column fill-height>
                      <p id="symbol" class="mb-0">X</p>
                    </v-layout>
                  </div>
                  <div class="approval-request-option approve-option text-xs-center ml-3" @click="approveWorkshop()">
                    <v-layout align-center justify-center column fill-height>
                      <p id="symbol" class="mb-0">✓</p>
                    </v-layout>
                  </div>
                </div>
                <v-btn v-if="!workshop.is_subscribed" class="font-weight-bold" block large color="info" @click="subscribe()">Subscribe</v-btn>
                <v-btn v-else-if="workshop.is_subscribed" class="font-weight-bold" block large color="error" @click="unsubscribe()">Unsubscribe</v-btn>
              </v-flex>
            </v-layout>

            <v-layout>
              <v-flex>
                <v-list-tile>
                  <v-icon>event</v-icon>
                  <div class="pl-2">{{getFormattedDate()}}</div>
                </v-list-tile>
              </v-flex>
              <v-flex>
                <v-list-tile>
                  <v-icon>access_time</v-icon>
                  <div class="pl-2">{{getFormattedTime()}}</div>
                </v-list-tile>
              </v-flex>
            </v-layout>

            <v-layout align-center justify-center row fill-height>
              <v-flex>
                <div class="body-2 font-weight-bold">Users enrolled</div>
                <v-list-tile>
                  <v-list>
                    <v-item v-for="i in 4" :key="i.id" class="mr-1">
                        <div v-if="workshop.subscribers[i - 1]">
                          <v-avatar size="28px">
                            <img :src="workshop.subscribers[i - 1].photo_url">
                          </v-avatar>
                        </div>
                    </v-item>
                  </v-list>
                  <div v-if="workshop.subscribers.length > 4">+ {{workshop.subscribers.length - 4}} More</div>
                  <div v-if="workshop.subscribers.length == 0">There are not users enrolled yet, be the first one.</div>
                </v-list-tile>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <v-layout mt-5 v-if="workshop.documentation_url != ''">
        <v-flex>
          <div id="topDocumentation" class="headline font-weight-bold">Documentation</div>
          <div class="documentation pa-5">
            <div class="content" v-html="markdownFileContent"></div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import EventBus from "../../../bus";
import ProfileDataManager from "../../../services/session/ProfileDataManager";
import WorkshopService from "../../../services/api/WorkshopService";
import ApprovalRequestService from "../../../services/api/ApprovalRequestService"
import view from "../../../services/utils/ViewHandler"
import RejectionFeedback from "./components/RejectionFeedback";
import _ from "../../../assets/constants/InfoMessages"

import moment from "moment"
import showdown from "showdown";

var api = new WorkshopService();
var apiApproval = new ApprovalRequestService()
var converter = new showdown.Converter();

var profileDataManager = new ProfileDataManager();

export default {
  components: {
    RejectionFeedback
  },
  data() {
    return {
      id: this.$route.params.id,
      approvalRequestId: (this.$route.params.approval_id),
      is_preview: false,
      workshop: {
        id: "",
        name: "",
        banner_url: "",
        description: "",
        begin_date: "",
        subscribers: [],
        is_subscribed: "",
        speaker: {
          name: "",
          lastname: ""
        },
        documentation_url: "",
        rating: 0
      },
      topDocumentation: null,
      documentationFolder: [],
      documentationImagesFolder: [],
      markdownFileContent: ""
    };
  },
  methods: {
    back() {
      this.$router.back();
    },
    displayDetailedWorkshop() {
      var self = this
      api.getWorkshop(self.id)
        .then(_workshop => {
          self.workshop.id = _workshop.id,
          self.workshop.name = _workshop.name,
          self.workshop.banner_url = _workshop.banner_url,
          self.workshop.description = _workshop.description
          self.workshop.begin_date = _workshop.begin_date
          self.workshop.subscribers = _workshop.subscribers
          self.workshop.is_subscribed = _workshop.is_subscribed
          self.workshop.speaker.name = _workshop.speaker.name
          self.workshop.speaker.lastname = _workshop.speaker.lastname
          self.workshop.documentation_url = _workshop.documentation_url

          this.getWorkshopDocumentation(_workshop.documentation_url);
        })
        .catch(error => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    getWorkshopDocumentation(documentation_url) {
      if(documentation_url != ""){
        let workshopNameOnGithub = documentation_url.split("/").reverse()[1] //https://github.com/WorkshopTechnology/Materiales/blob/master/Talleres/Git/Page1.md subtract 'Git'
        api.getFolderWorkshopDocumentationImages(workshopNameOnGithub)
          .then(imagesFolder => {
            this.documentationImagesFolder = imagesFolder;

            api.getFolderWorkshopDocumentation(workshopNameOnGithub)
              .then(documentationFolder => {
                this.documentationFolder = documentationFolder;
                this.getFileContent(this.getPageURL("Page1.md"));
              });
          });
      }
    },
    async getFileContent(fileUrl) {
      let markdown = await this.getMarkdown(fileUrl);
      let htmlString = converter.makeHtml(markdown);

      this.markdownFileContent = this.replaceImgsMarkdown(htmlString);
    },
    getMarkdown(url) {
      return fetch(url).then(responseMarkdown => {
        return responseMarkdown.text();
      });
    },
    replaceImgsMarkdown(htmlString) {
      var domParser = new DOMParser();
      var documentElement = domParser.parseFromString(htmlString, "text/html");
      var documentImages = documentElement.getElementsByTagName("img");
      for (var i = 0; i < documentImages.length; i++) {
        let imageName = documentImages[i].src.split("/").pop();

        documentImages[i].src = this.getImageURL(imageName);
        documentImages[i].style.maxWidth = "100%";
      }
      return documentElement.body.innerHTML;
    },
    getPageURL(page) {
      for (let i = 0; i < this.documentationFolder.length; i++) {
        if (this.documentationFolder[i].name == page)
          return this.documentationFolder[i].download_url;
      }
    },
    getImageURL(imageName) {
      for (let i = 0; i < this.documentationImagesFolder.length; i++) {
        if (this.documentationImagesFolder[i].name == imageName)
          return this.documentationImagesFolder[i].download_url;
      }
    },
    viewUser() {
      //this.$router.push("/configuration");
    },
    subscribe() {
      var self = this
      api.subscribeWorkshop(self.workshop.id)
        .then(response => {
          view.showMessage("success", _.Message.workshopSubscribed)
          setTimeout(function() {
            self.$router.go()
          }, 1500)
        })
        .catch(error => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    unsubscribe() {
      var self = this
      api.unsubscribeWorkshop(self.workshop.id)
        .then(response => {
          view.showMessage("success", _.Message.workshopUnsubscribed)
          setTimeout(function() {
            self.$router.go()
          }, 1500)
        })
        .catch(error => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    },
    interceptClickEvent(e) {
      let target = e.target || e.srcElement;
      if (target.tagName === "A") {
        let page = target.getAttribute("href");

        this.getFileContent(this.getPageURL(page));
        this.topDocumentation.scrollIntoView();
        if (true) {
          //tell the browser not to respond to the link click
          e.preventDefault();
        }
      }
    },
    getFormattedDate() {
      var _date = new Date(this.workshop.begin_date)
      return moment(String(_date)).format("MMMM DD")
    },
    getFormattedTime() {
      var _date = new Date(this.workshop.begin_date)
      return moment(String(_date)).format("hh: mm a")
    },
    rejectWorkshop(){
      var self = this
      EventBus.$emit("rejectionFeedback", {
        showDialog: true,
        approvalId: self.approvalRequestId,
        workshopId: self.id,
        workshopName: self.workshop.name
      });
    },
    approveWorkshop(){
      var self = this
      var body = {
        "approval_request": {
          "workshop": {
            "id": self.workshop.id
          },
          "id": self.approvalRequestId,
          "comment": "",
          "status": "approved"
        }
      }
      apiApproval.updateApprovalRequest(body)
      .then(_response => {
        view.showMessage("success", _.Message.workshopApproved)
        self.back()
        })
      .catch(error => {
        view.showMessage("error", _.ErrorMessage.requestFailed)
        self.back()
      })
    }
  },
  mounted() {
    EventBus.$emit("handleNavigationBar", {
      logged: true,
      showTabs: false
    });
    this.displayDetailedWorkshop();

    //Agregado un "interceptor" de links para cambiar el comportamiento de los tags <a> dentro del markdown.
    if (document.addEventListener) {
      document.addEventListener("click", this.interceptClickEvent);
    } else if (document.attachEvent) {
      document.attachEvent("onclick", this.interceptClickEvent);
    }

    this.topDocumentation = document.getElementById("topDocumentation");

    if(this.$route.params.is_preview != undefined){
      if(profileDataManager.getProfileData().role == "admin") {
        this.is_preview = true;
      } else {
        this.$router.push({ name: "workshop", params: { id: this.id } });
      }
    }
  },
  destroyed() {
    EventBus.$emit("handleNavigationBar", {
      logged: true,
      showTabs: true,
      isAdmin:
        profileDataManager.getProfileData().role == "admin" ? true : false
    });
  }
};
</script>

<style scoped>
.WorkshopDetail >>> .display-1, .headline, .subheading, .body-2{
  color: #4a4a4a;
}
.WorkshopDetail >>> .justify--text {
  text-align: justify;
}
.WorkshopDetail >>> .v-rating .v-icon:first-of-type {
  padding-left: 0;
}
.WorkshopDetail >>> .v-list__tile {
  padding: 0;
}
.WorkshopDetail >>> .v-list {
  background: none;
}
.WorkshopDetail >>> .v-list div {
  display: inline-block;
}
.WorkshopDetail >>> .more-subscribed {
  margin-left: -16px;
}
.WorkshopDetail >>> .documentation {
  background-color: white;
}
.WorkshopDetail .approval-request-option {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  color: white;
}
.WorkshopDetail .approval-request-option:hover {
  cursor: pointer;
}
.WorkshopDetail .approve-option {
  background-color: #3bb98b !important;
}
.WorkshopDetail .approve-option:hover {
  background-color: #5debb7 !important;
}
.WorkshopDetail .reject-option{
  background-color: #e72555 !important;
}
.WorkshopDetail .reject-option:hover {
  background-color: #ff2d62 !important;
}
.WorkshopDetail .approval-request-option #symbol {
  font-size: 32px;
}
</style>

