<template>
  <SideNavegationTabs />
</template>

<script>
import SideNavegationTabs from "./components/SideNavegationTabs/SideNavegationTabs";

export default {
  components: {
    SideNavegationTabs
  },
  data: () => ({}),
  mounted() {
    if (this.$route.path === "/admin") this.$router.push("/admin/requests");
  }
};
</script>
