<template>
  <v-card flat class="activity-card mt-1">
    <v-card-actions>
      <div class="subheading mb-3">
        <span v-if="status == 'done'">🔵</span>
        <span v-if="status != 'done'">⚪</span>
        {{time}} - {{title}}
      </div>
      <v-spacer></v-spacer>
      <span class="subheading">{{date}}</span>
    </v-card-actions>

    <p class="ml-5" v-for="task in tasks" :key="task.title">{{task}}</p>
  </v-card>
</template>

<script>
export default {
  props: {
    time: String,
    title: String,
    date: String,
    tasks: Array,
    status: String
  }
};
</script>

<style>
.activity-card {
  background-color: transparent !important;
}
</style>
