<template>
  <v-toolbar
    :class="{'main-header': $vuetify.breakpoint.smAndUp}"
    color="#FFF"
  >
    <router-link
      :to="isLogged ? '/home' : '/'"
    >
      <img
        height="40em"
        src="./images/workshop-logo-beta.svg"
        to="/home"
        width="auto"
      />
    </router-link>

    <template v-if="isLogged">
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <Notifications/>
        <Profile/>
      </v-toolbar-items>
    </template>

    <template v-else>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          class="font-weight-bold text-capitalize button-header"
          flat
          href="https://www.facebook.com/workshoptech/"
        >
          Workshop
        </v-btn>
        <v-btn
          class="font-weight-bold text-capitalize button-header"
          flat
          href="https://workshoptech.team/"
        >
          Intership
        </v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-btn
        @click="isLogin = !isLogin"
        class="font-weight-bold text-capitalize register-button"
        to="/register"
        v-if="isLogin"
      >
        Register
      </v-btn>
      <v-btn
        @click="isLogin = !isLogin"
        class="font-weight-bold text-capitalize login-button"
        to="/"
        v-if="!isLogin"
      >
        Login
      </v-btn>
    </template>
  </v-toolbar>
</template>

<script>
  import Notifications from "./components/Notifications/Notifications";
  import Profile from "./components/Profile";

  export default {
    components: {
      Notifications,
      Profile
    },
    props: {
      isLogged: Boolean
    },
    data() {
      return {
        isLogin: true
      };
    },
    mounted() {
      this.$route.path === "/register" ? (this.isLogin = false) : true;
    }
  };
</script>

<style scoped>
  .username {
    margin-right: -8px;
    margin-left: 8px;
  }

  .main-header {
    border-bottom: solid #dadada 1px !important;
  }

  .button-header {
    color: #6d6d6d !important;
  }

  .register-button, .login-button {
    background-color: #3bb98b !important;
    color: #FFF !important
  }

  a {
    color: #0089cb;
    text-decoration: none;
  }
</style>

