<template>
  <v-dialog
    max-width="600px"
    persistent
    v-model="dialog"
  >
    <template
      v-slot:activator="{ on }"
    >
      <v-btn
        class="text-capitalize font-weight-bold send-message-button"
        large
        v-on="on"
      >
        Send message
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">
          New message
        </span>
      </v-card-title>
      <v-card-text>
        <v-container
          grid-list-md
          py-0
        >
          <v-layout
            wrap
          >
            <v-flex
              xs12
            >
              <div class="body-2 font-weight-regular">
                <b>From:</b>
                {{senderName}}
              </div>
            </v-flex>
            <v-flex
              xs12
            >
              <v-select
                :items="receiverTypes"
                label="Message to a"
                v-model="receiverType"
              ></v-select>
            </v-flex>
            <v-flex
              v-show="receiverType == 'Person'"
              xs12
            >
              <v-autocomplete
                :items="usersOptions"
                :no-data-text="'Matches not found'"
                label="To"
                v-model="userSelected"
              ></v-autocomplete>
            </v-flex>
            <v-flex
              v-show="receiverType == 'Workshop'"
              xs12
            >
              <v-autocomplete
                :items="workshopsOptions"
                :no-data-text="'Matches not found'"
                label="To"
                v-model="workshopSelected"
              ></v-autocomplete>
            </v-flex>
            <v-flex
              xs12
            >
              <div class="subheading mb-2">
                Message
              </div>
              <v-textarea
                :no-resize="true"
                :rows="10"
                box
                required
                v-model="message"
              ></v-textarea>
            </v-flex>
            <v-flex
              xs12
            >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  @click="closeDialog()"
                  class="mr-4"
                  color="error"
                >
                  Cancel
                </v-btn>
                <v-btn
                  @click="sendMessage()"
                  color="info"
                >
                  Send
                </v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import ProfileDataManager from "../services/session/ProfileDataManager"
  import MessagesService from "../services/api/MessagesService"
  import view from "../services/utils/ViewHandler"
  import _ from "../assets/constants/InfoMessages";

  const profileDataManager = new ProfileDataManager()
  const api = new MessagesService()

  export default {
    props: {
      OnsendMessage: Function
    },
    data: () => ({
      dialog: false,
      senderId: "",
      senderName: "",
      receiverTypes: ["Person", "Workshop"],
      receiverType: "",
      users: [],
      usersOptions: [],
      userSelected: "",
      workshops: [],
      workshopsOptions: [],
      workshopSelected: "",
      message: ""
    }),
    methods: {
      closeDialog() {
        this.dialog = false;
      },
      sendMessage() {
        const self = this
        let receiver = ""
        switch (self.receiverType) {
          case "Person":
            receiver = self.users.find(user => {
              return user.name + " " + user.lastname === self.userSelected;
            })
            var idsArray = [receiver.id]
            var _message = {
              "message": {
                "destinatary_type": "user",
                "users_ids": idsArray,
                "body": self.message
              }
            }
            api.sendMessage(_message)
              .then(() => {
                view.showMessage("success", _.Message.messageSent);
                self.closeDialog()
                setTimeout(function () {
                  self.$router.go()
                }, 1500)
              })
              .catch(() => {
                view.showMessage("error", _.ErrorMessage.requestFailed)
              })
            break
          case "Workshop":
            receiver = this.workshops.find(workshop => {
              return workshop.name === this.workshopSelected;
            })
            var _message = {
              "message": {
                "destinatary_type": "workshop",
                "workshop_id": receiver.id,
                "body": self.message
              }
            }
            api.sendMessage(_message)
              .then(() => {
                view.showMessage("success", _.Message.messageSent);
                self.closeDialog()
                setTimeout(function () {
                  self.$router.go()
                }, 1500)
              })
              .catch(() => {
                view.showMessage("error", _.ErrorMessage.requestFailed)
              })
            break
        }
        this.receiverType = "";
        this.userSelected = "";
        this.workshopSelected = "";
        this.message = "";
      }
    },
    mounted() {
      const self = this
      const profile = profileDataManager.getProfileData()

      self.senderId = profile.id
      self.senderName = profile.name

      api.getMessagesDestinataries()
        .then(destinataries => {
          destinataries.users.forEach(function (element) {
            self.users.push(element)
            self.usersOptions.push(element.name + " " + element.lastname)
          })
          destinataries.workshop.forEach(function (element) {
            self.workshops.push(element)
            self.workshopsOptions.push(element.name)
          })
        })
        .catch(() => {
          view.showMessage("error", _.ErrorMessage.requestFailed)
        })
    }

  };
</script>

<style scoped>
  .v-btn {
    margin: 0;
  }

  .my-workshops-page .send-message-button {
    margin-top: 6px;
    border-radius: 10px;
    background-color: #0089cb !important;
    color: white;
    font-size: 18px;
  }
</style>
