<template>
  <div class="card-workshop">
    <v-card class="mx-3">
      <v-img
        :max-height="138.88"
        :min-height="138.88"
        :src="src"
      ></v-img>

      <v-container
        ma-0
        pa-0
      >
        <v-layout>
          <v-flex
            pa-3
          >
            <div class="subheading font-weight-bold">
              {{title}}
            </div>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          class="signed-users-section"
          fill-height
          justify-center
          row
        >
          <v-flex
            pl-3
          >
            <v-list>
              <v-item
                :key="i.id"
                class="mr-1"
                v-for="i in 4"
              >
                <div v-if="signed_users[i - 1]">
                  <v-avatar size="28px">
                    <v-img
                      :src="signed_users[i - 1].photo_url"
                    />
                  </v-avatar>
                </div>
              </v-item>
            </v-list>
          </v-flex>

          <v-flex class="more-subscribed">
            <div
              class="body-2 font-weight-bold"
              v-if="signed_users.length > 4"
            >
              + {{signed_users.length - 4}} More
            </div>
          </v-flex>
        </v-layout>

        <v-layout>
          <v-flex>
            <v-list-tile>
              <v-icon>
                event
              </v-icon>
              <div
                class="body-2 font-weight-bold pl-2"
              >
                {{getFormattedDate()}}
              </div>
            </v-list-tile>
          </v-flex>

          <v-flex>
            <v-list-tile>
              <v-icon>
                access_time
              </v-icon>
              <div class="body-2 font-weight-bold pl-2">
                {{getFormattedTime()}}
              </div>
            </v-list-tile>
          </v-flex>

        </v-layout>
      </v-container>

      <v-card-actions class="justify-center">
        <v-btn
          @click="unsubscribe()"
          class="font-weight-bold"
          color="#d0021b"
          flat
          v-if="status === 'signed'"
        >
          Unsubscribe
        </v-btn>
        <v-btn
          @click="unsubscribe()"
          class="font-weight-bold"
          color="#d0021b"
          flat
          v-else-if="status === 'coming' && isSubscribed"
        >
          Unsubscribe
        </v-btn>
        <v-btn
          @click="subscribe()"
          class="font-weight-bold"
          color="#0089cb"
          flat
          v-else-if="status === 'coming' && !isSubscribed"
        >
          Subscribe
        </v-btn>
        <v-btn
          @click="goToDetail()"
          class="font-weight-bold"
          color="#0089cb"
          flat
        >
          Details
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
  import moment from "moment"
  import _ from "../assets/constants/InfoMessages"
  import view from "../services/utils/ViewHandler"
  import WorkshopService from "../services/api/WorkshopService"
  import ProfileDataManager from "../services/session/ProfileDataManager"

  const api = new WorkshopService()
  const profileDataManager = new ProfileDataManager()

  export default {
    props: {
      id: {
        type: Number,
        required: false
      },
      src: {
        type: String,
        required: false
      },
      title: {
        type: String,
        required: false
      },
      date: {
        type: String,
        required: false
      },
      status: {
        type: String,
        required: true
      },
      speakerId: {
        type: Number,
        required: true
      },
      isSubscribed: {
        type: Boolean,
        required: true
      },
      signed_users: []
    },
    data: () => {
      return {};
    },
    methods: {
      subscribe() {
        const self = this
        api.subscribeWorkshop(self.id)
          .then(() => {
            view.showMessage("success", _.Message.workshopSubscribed)
            setTimeout(function () {
              self.$router.go()
            }, 1500)
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed)
          })
      },
      unsubscribe() {
        const self = this
        api.unsubscribeWorkshop(self.id)
          .then(() => {
            view.showMessage("success", _.Message.workshopUnsubscribed)
            setTimeout(function () {
              self.$router.go()
            }, 1500)
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed)
          })
      },
      goToDetail() {
        this.$router.push({name: "workshop", params: {id: this.id}});
      },
      getFormattedDate() {
        const _date = new Date(this.date)
        return moment(String(_date)).format("MMMM DD")
      },
      getFormattedTime() {
        const _date = new Date(this.date)
        return moment(String(_date)).format("hh: mm a")
      }
    }
  };
</script>

<style scoped>
  .card-workshop {
    min-width: 300px;
    max-width: 300px;
  }

  .card-workshop >>> .subheading {
    color: #4a4a4a;
  }

  .card-workshop >>> .body-2 {
    color: #6d6d6d;
  }

  .card-workshop >>> .layout.signed-users-section {
    height: 28px;
  }

  .card-workshop >>> .v-list {
    padding: 0;
  }

  .card-workshop >>> .v-list div {
    display: inline-block;
  }

  .card-workshop >>> .more-subscribed {
    margin-left: -16px;
  }
</style>
