<template>
  <div class="comingSoon pt-5">
    <div class="display-2 font-weight-bold">
      {{title}}
    </div>
    <div class="headline">
      {{subtitle}}<br>
      Coming soon.
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      title: String,
      subtitle: String
    }
  };
</script>

<style scoped>
  .comingSoon {
    text-align: center;
  }

  .comingSoon .display-2 {
    color: #6D6D6D
  }

  .comingSoon >>> .headline {
    color: #C4C4C4;
  }
</style>
