<template>
  <v-flex
    align-center
    sm12
    v-if="isLoading"
  >
    <v-progress-circular
      :size="40"
      color="grey darken-1"
      indeterminate
    ></v-progress-circular>
  </v-flex>
</template>

<script>
  export default {
    props: {
      isLoading: Boolean
    }
  };
</script>

<style scoped>
  .v-progress-circular {
    margin-top: 50px;
  }

  .align-center {
    text-align: center;
  }
</style>
