<template>
  <v-footer
    class="hidden-xs-only"
    dark
    fixed
  >
    <v-card
      class="flex rounded-card"
      flat
      tile
    >
      <v-card-text class="blue">
        <p class="text-xs-center">
          With ❤️ By Workshop Team
        </p>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
