<template>
  <div
    class="NavegationTabs elevation-1"
    v-show="isLogged"
  >
    <v-tabs
      centered
      v-if="!$vuetify.breakpoint.xsOnly"
    >
      <v-tabs-slider
        color="#0089CB"
      ></v-tabs-slider>
      <v-tab
        :key="tab.title"
        active-class="selected"
        class="tab-xs-device font-weight-bold text-capitalize"
        v-bind:to="tab.url"
        v-for="(tab, index) in mainTabs"
      >
        <v-icon
          :data-v-step="index"
          color="#6d6d6d"
          left
        >
          {{tab.icon}}
        </v-icon>
        {{tab.title}}
      </v-tab>
      <v-tab
        active-class="selected"
        class="tab-xs-device font-weight-bold text-capitalize"
        v-bind:to="'/admin'"
        v-if="isAdmin === true"
      >
        <v-icon
          color="#6d6d6d"
          data-v-step="3"
          left
        >
          person
        </v-icon>
        Admin
      </v-tab>
    </v-tabs>

    <v-tabs
      centered
      v-else-if="(this.$route.path === '/admin/requests' || this.$route.path === '/admin/accounts' || this.$route.path === '/admin/workshops' || this.$route.path === '/admin/messages' || this.$route.path === '/admin/reports')"
    >
      <v-tabs-slider
        color="#0089CB"
      ></v-tabs-slider>
      <v-tab
        :data-admin-v-step="index"
        :key="tab.title"
        active-class="selected"
        class="tab-xs-device font-weight-bold"
        v-bind:to="tab.url"
        v-for="(tab, index) in adminTabs"
      >
        {{tab.title}}
      </v-tab>
    </v-tabs>

    <v-bottom-nav
      :active.sync="bottomNav"
      :value="true"
      class="hidden-sm-and-up"
      fixed
    >
      <v-btn
        :data-v-step="index"
        :key="tab.title"
        color="#0089CB"
        flat
        large
        v-bind:to="tab.url"
        v-bind:value="tab.url"
        v-for="(tab, index) in mainTabs"
      >
        <v-icon>
          {{tab.icon}}
        </v-icon>
      </v-btn>
      <v-btn
        @click="displayAdminTour()"
        color="#0089CB"
        data-v-step="3"
        flat
        large
        v-bind:to="'/admin/requests'"
        v-bind:value="'/admin/requests'"
        v-if="isAdmin === true"
      >
        <v-icon>
          person
        </v-icon>
      </v-btn>
    </v-bottom-nav>
    <WelcomeTour
      :onFinish="finishOnboarding"
      :steps="mainSteps"
      name="get-started-tour"
    />
    <WelcomeTour
      :onFinish="finishAdminOnboarding"
      :steps="adminSteps"
      name="admin-tour"
    />
  </div>
</template>

<style scoped>
  .NavegationTabs >>> .selected {
    color: #0089cb !important;
  }

  @media (max-width: 599px) {
    .tab-xs-device {
      font-size: 12px;
    }
  }

  .NavegationTabs >>> .v-item-group.v-bottom-nav .v-btn .v-btn__content i.v-icon {
    font-size: 2.5em;
  }

  .NavegationTabs >>> .v-tabs__item {
    opacity: 1 !important;
    color: #6d6d6d;
    padding: 6px 16px;
  }
</style>

<script>
  import WelcomeTour from "./WelcomeTour"
  import ProfileDataManager from "../services/session/ProfileDataManager"

  var profileDataManager = new ProfileDataManager()

  export default {
    components: {
      WelcomeTour
    },
    props: {
      isLogged: Boolean,
      isAdmin: Boolean
    },
    data() {
      return {
        bottomNav: this.$route.path,
        mainSteps: [
          {
            target: '[data-v-step="0"]',
            content: 'Here you can see the workshops to which you are subscribed and which are the following!',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-v-step="1"]',
            content: 'All past and current workshops are here! Go to look out! ',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-v-step="2"]',
            content: 'Every effort and participation has its reward.\nLook out who are at the first places!',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-v-step="3"]',
            content: 'A great power has a great responsibility!\nHere you can manage workshop requests, accounts, messages and reports. Lets to look out!',
            params: {
              placement: 'bottom'
            }
          }
        ],
        adminSteps: [
          {
            target: '[data-admin-v-step="0"]',
            content: 'Here you can find every approval request sent by students.',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-admin-v-step="1"]',
            content: 'Here you can manage all users accounts! ',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-admin-v-step="2"]',
            content: 'Here you can see and modify all in progress workshops.',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-admin-v-step="3"]',
            content: 'Here you can send messages to users or workshops, also you can see what the community are sending.',
            params: {
              placement: 'bottom'
            }
          },
          {
            target: '[data-admin-v-step="4"]',
            content: 'This section was developed for internship program. You can check all reports done by interns.',
            params: {
              placement: 'bottom'
            }
          }
        ],
        mainTabs: [
          {
            title: "Home",
            icon: "home",
            url: "/home"
          },
          {
            title: "Workshops",
            icon: "event",
            url: "/workshops"
          },
          {
            title: "Leaderboard",
            icon: "list",
            url: "/leaderboard"
          }
        ],
        adminTabs: [
          {
            title: "Requests",
            url: "/admin/requests"
          },
          {
            title: "Accounts",

            url: "/admin/accounts"
          },
          {
            title: "Workshops",
            url: "/admin/workshops"
          },
          {
            title: "Messages",
            url: "/admin/messages"
          },
          {
            title: "Reports",
            url: "/admin/reports"
          }
        ]
      };
    },
    methods: {
      displayGetStartedTour() {
        const isDone = profileDataManager.getOnboardingStatus()
        if (!isDone) {
          this.$tours['get-started-tour'].start()
        }
      },
      displayAdminTour() {
        const isDone = profileDataManager.getAdminOnboardingStatus()
        if (!isDone) {
          this.$tours['admin-tour'].start()
        }
      },
      finishOnboarding() {
        profileDataManager.updateOnboardingStatus(true)
      },
      finishAdminOnboarding() {
        profileDataManager.updateAdminOnboardingStatus(true)
      }
    },
    mounted() {
      this.displayGetStartedTour()
    }
  };
</script>

