<template>
  <v-tour
    :name="name"
    :steps="steps">
    <template
      slot-scope="tour"
    >
      <transition
        name="fade"
      >
        <v-step
          :is-first="tour.isFirst"
          :is-last="tour.isLast"
          :key="index"
          :labels="tour.labels"
          :next-step="tour.nextStep"
          :previous-step="tour.previousStep"
          :step="step"
          :stop="tour.stop"
          class="base"
          v-for="(step, index) of tour.steps"
          v-if="tour.currentStep === index"
        >
          <template>
            <div
              slot="actions"
            >
              <v-btn
                @click="finishOnboardig(tour)"
                class="text-capitalize"
                color="error"
                flat
                v-if="!tour.isLast"
                x-small
              >
                Skip
              </v-btn>
              <v-btn
                @click="tour.previousStep"
                class="text-capitalize"
                color="primary"
                flat
                v-if="!tour.isFirst"
                x-small
              >
                Previous
              </v-btn>
              <v-btn
                @click="tour.nextStep"
                class="text-capitalize"
                color="primary"
                flat
                v-if="!tour.isLast"
                x-small
              >
                Next
              </v-btn>
              <v-btn
                @click="finishOnboardig(tour)"
                class="text-capitalize"
                color="error"
                flat
                v-else
                x-small
              >
                Finish
              </v-btn>
            </div>
          </template>
        </v-step>
      </transition>
    </template>
  </v-tour>
</template>

<script>
  export default {
    props: {
      name: String,
      steps: [],
      onFinish: Function
    },
    methods: {
      finishOnboardig(tour) {
        tour.stop()
        this.onFinish()
      }
    }
  }
</script>

<style scoped>
  .base {
    background-color: white !important;
    color: #0089cb !important;
    font-family: 'Lato';
    font-size: 16px !important;
    font-weight: bold !important;
    z-index: 1 !important;
  }

  .v-btn {
    font-weight: bold !important;
    min-width: 0 !important;
  }
</style>
