<template>
  <div class="message">
    <div class="headline font-weight-bold">
      {{message}}
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      message: String
    }
  };
</script>

<style scoped>
  .message >>> .headline {
    color: #4a4a4a;
  }
</style>
