<template>
  <v-hover>
    <v-card
      :class="`elevation-${hover ? 5 : 1}`"
      class="mt-3"
      slot-scope="{ hover }"
    >
      <v-layout>
        <v-flex
          @click="displayWorkshop(workshopId)"
          lg10
          md9
          sm10
          xs12
        >
          <v-layout class="hidden-xs-only">
            <v-flex
              xs2
            >
              <v-img
                :height="80"
                :max-width="150"
                :src="workshopBannerUrl"
                class="flyer"
              ></v-img>
            </v-flex>

            <v-flex xs10>
              <v-list-tile-content class="justify-center">
                <div class="title ml-3 mb-1 font-weight-bold">
                  {{workshopName}}
                </div>
                <div class="subheading ml-3">
                  {{speakerName}}
                </div>
              </v-list-tile-content>
            </v-flex>
          </v-layout>
          <div class="hidden-sm-and-up">
            <v-img
              :contain="true"
              :max-height="100"
              :min-height="100"
              :src="workshopBannerUrl"
            ></v-img>

            <v-list-tile-content class="justify-center">
              <div class="title font-weight-bold ml-3 pb-2">
                {{workshopName}}
              </div>
              <div class="subheading ml-3 mb-2">
                Speaker(s): {{speakerName}}
              </div>
              <div class="subheading ml-3">
                {{formatDate()}}
              </div>
            </v-list-tile-content>
            <v-card-actions class="justify-center py-0">
              <v-btn
                @click="editWorkshop"
                class="mx-4"
                flat
                icon
              >
                <v-icon>
                  edit
                </v-icon>
              </v-btn>
              <v-btn
                @click="deleteWorkshop"
                class="mx-4"
                flat
                icon
              >
                <v-icon>
                  delete_outline
                </v-icon>
              </v-btn>
            </v-card-actions>
          </div>
        </v-flex>

        <v-flex
          class="hidden-xs-only"
          pa-3
        >
        <span class="subheading">
          {{formatDate()}}
        </span>
        </v-flex>

        <v-divider
          :vertical="true"
          class="hidden-xs-only"
        ></v-divider>

        <v-flex
          class="hidden-xs-only"
          lg2
          md3
          pa-3
          sm2
        >
          <v-layout
            align-center
            fill-height
            justify-center
          >
            <v-btn
              @click="editWorkshop"
              class="action-button"
              flat
              icon
            >
              <v-icon>
                edit
              </v-icon>
            </v-btn>
            <v-btn
              @click="deleteWorkshop"
              class="action-button"
              flat
              icon
            >
              <v-icon>
                delete_outline
              </v-icon>
            </v-btn>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>

<script>
  import _ from "../assets/constants/InfoMessages";
  import moment from "moment";
  import EventBus from "../bus";
  import WorkshopService from "../services/api/WorkshopService";
  import view from "../services/utils/ViewHandler";

  const api = new WorkshopService();

  export default {
    props: {
      workshopId: Number,
      workshopName: String,
      workshopBannerUrl: String,
      workshopBeginDate: String,
      speakerId: Number,
      speakerName: String,
      status: String,
      onUpdate: Function,
      onDelete: Function
    },
    methods: {
      displayWorkshop(workshopId) {
        this.$router.push({name: "my-workshop", params: {id: workshopId}});
      },
      editWorkshop() {
        const self = this;
        api.getWorkshop(self.workshopId)
          .then(_workshop => {
            const _date = new Date(_workshop.begin_date)
            EventBus.$emit("editWorkshop", {
              showDialog: true,
              onUpdate: self.onUpdate,
              workshop: _workshop,
              formattedDate: moment(String(_date)).format("YYYY-MM-DD"),
              formattedTime: moment(String(_date)).format("hh:mm a")
            });
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      },
      deleteWorkshop() {
        EventBus.$emit("deleteWorkshop", {
          showDialog: true,
          workshopId: this.workshopId,
          status: this.status,
          onDelete: this.onDelete
        });
      },
      formatDate() {
        let date = new Date(this.workshopBeginDate);
        return moment(String(date)).format("MM/DD/YYYY - hh:mm a");
      }
    }
  };
</script>

<style scoped>
  div.mt-3.v-card.v-sheet.theme--light.elevation-1  {
    background-color: #f8f8f8 !important;
  }

  .v-card:hover {
    cursor: pointer;
  }

  .flyer {
    border-radius: 6px 0px 0px 6px;
  }

  .flyer-center {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .title, .subheading {
    color: #6d6d6d;
  }
</style>
