<template>
  <div class="notification">
    <v-list-tile
      @click="showNotification()"
    >
      <v-list-tile-avatar>
        <v-img
          :src="photoSrc"
          height="50"
          width="50"
        ></v-img>
      </v-list-tile-avatar>

      <v-list-tile-content>
        <v-list-tile-title>
          Le ha mandado un mensaje
        </v-list-tile-title>
        <v-list-tile-sub-title>
          <strong>
            {{senderName}} {{senderLastname}}
          </strong>
          <div class="text-xs-right">
            {{getRelativeTime(timestamp)}}
          </div>
        </v-list-tile-sub-title>
      </v-list-tile-content>
    </v-list-tile>
  </div>
</template>

<style scoped>
  .notification {
    width: 378px;
  }

  .notification >>> a.v-list__tile {
    height: auto;
    padding: 16px;
    background-color: #f8f8f8;
    border-bottom: 1px #c4c4c4 solid;
  }

  .notification >>> a.v-list__tile:hover {
    background-color: #c4c4c4 !important;
  }
</style>

<script>
  import moment from "moment";

  export default {
    props: {
      photoSrc: String,
      senderName: String,
      senderLastname: String,
      timestamp: String
    },
    methods: {
      showNotification() {
      },
      getRelativeTime(timestamp) {
        return moment(new Date(timestamp * 1000)).fromNow();
      }
    }
  };
</script>
