<template>
  <v-menu
    offset-y
    transition="scale-transition"
  >
    <template
      v-slot:activator="{ on }"
    >
      <v-btn
        :depressed="true"
        v-on="on"
      >
        <v-avatar
          :size="25"
        >
          <v-img
            :src="imgSrc"
          ></v-img>
        </v-avatar>
        <span class="username font-weight-bold">
          {{username}}
        </span>
        <v-icon
          right
        >
          expand_more
        </v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-tile
        @click="viewNotifications"
      >
        <v-list-tile-title>
          View notifications
        </v-list-tile-title>
      </v-list-tile>

      <v-list-tile
        @click="viewWorkshops"
      >
        <v-list-tile-title>
          View my workshops
        </v-list-tile-title>
      </v-list-tile>

      <v-list-tile
        @click="openConfiguration"
      >
        <v-list-tile-title>
          Configuration
        </v-list-tile-title>
      </v-list-tile>

      <v-list-tile
        @click="logout"
      >
        <v-list-tile-title>
          Logout
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
  import EventBus from "../../../bus";
  import SessionService from "../../../services/api/SessionService"
  import ProfileDataManager from "../../../services/session/ProfileDataManager"
  import _ from "../../../assets/constants/InfoMessages"

  const api = new SessionService()
  const profileDataManager = new ProfileDataManager()

  export default {
    data: () => {
      return {
        imgSrc: "",
        username: ""
      }
    },
    methods: {
      viewNotifications() {
        this.$router.push("/notifications");
      },
      viewWorkshops() {
        this.$router.push("/my-workshops");
      },
      openConfiguration() {
        this.$router.push("/configuration");
      },
      logout() {
        const self = this
        api.signOut()
          .then(() => {
            self.$router.push("/");
            EventBus.$emit("handleNavigationBar", {
              logged: false,
              showTabs: false
            });
          })
          .catch(() => {
            self.$swal({
              title: _.ErrorMessage.requestFailed,
              type: "error",
              showConfirmButton: false,
              timer: 2000
            })
          })
      },
      displayHeaderData() {
        let profile = profileDataManager.getProfileData()
        this.imgSrc = profile.photo_url
        this.username = profile.name + " " + profile.lastname
      }
    },
    mounted() {
      this.displayHeaderData()
    }
  };
</script>

<style scoped>
  .v-btn {
    background-color: white !important;
  }

  .username {
    color: #6d6d6d;
    margin-right: -8px;
    margin-left: 8px;
  }

  .v-list__tile__title {
    color: #4a4a4a;
  }

  .v-list {
    padding-top: 8px;
  }
</style>
