<template>
  <div class="home">

    <v-container fluid>
      <div class="headline font-weight-bold pb-3" :class="{'pl-5': $vuetify.breakpoint.smAndUp}">Signed workshops</div>
      <CustomLoader v-bind:isLoading="isLoadingSignedWorkshops"/>
      <v-layout :class="{'pl-5': $vuetify.breakpoint.smAndUp}">
        <section class="scroll d-flex" v-if="signedWorkshops.length != 0">
          <CardWorkshop
            v-for="workshop in signedWorkshops"
            :key="workshop.id"
            v-bind:id="workshop.id"
            v-bind:src="workshop.banner_url"
            v-bind:title="workshop.name"
            v-bind:date="workshop.begin_date"
            v-bind:signed_users="workshop.subscribers"
            v-bind:speakerId="workshop.speaker_id"
            v-bind:status="'signed'"
            v-bind:isSubscribed="workshop.is_subscribed"
          />
        </section>
        <WithoutDataMessage v-else-if="isLoadingSignedWorkshops == false && signedWorkshops.length == 0" v-bind:message="'You are not signed on any workshops'" />
      </v-layout>

      <div class="headline font-weight-bold pb-3 pt-5" :class="{'pl-5': $vuetify.breakpoint.smAndUp}">Next workshops</div>
      <CustomLoader v-bind:isLoading="isLoadingNextWorkshops"/>
      <v-layout :class="{'pl-5': $vuetify.breakpoint.smAndUp}">
        <section class="scroll d-flex" v-if="nextWorkshops.length != 0">
          <CardWorkshop
            v-for="workshop in nextWorkshops"
            :key="workshop.id"
            v-bind:id="workshop.id"
            v-bind:src="workshop.banner_url"
            v-bind:title="workshop.name"
            v-bind:date="workshop.begin_date"
            v-bind:signed_users="workshop.subscribers"
            v-bind:speakerId="workshop.speaker_id"
            v-bind:status="'coming'"
            v-bind:isSubscribed="workshop.is_subscribed"
          />
        </section>
        <WithoutDataMessage v-else-if="isLoadingNextWorkshops == false && nextWorkshops.length == 0" v-bind:message="'There are not next workshops'" />
      </v-layout>
    </v-container>


  </div>
</template>

<script>
import CardWorkshop from "../../../components/CardWorkshop";
import WithoutDataMessage from "../../../components/WithoutDataMessage";
import CustomLoader from "../../../components/CustomLoader"
import WorkshopService from "../../../services/api/WorkshopService";

var api = new WorkshopService();

export default {
  components: {
    CardWorkshop,
    WithoutDataMessage,
    CustomLoader
  },
  data: () => {
    return {
      isLoadingSignedWorkshops: true,
      signedWorkshops: [],
      isLoadingNextWorkshops: true,
      nextWorkshops: []
    };
  },
  methods: {
    displayWorkshops() {
      var self = this;
      api.getSignedWorkshops()
        .then(workshops => {
          self.isLoadingSignedWorkshops = false
          workshops.forEach(function(element) {
            self.signedWorkshops.push(element)
          })
        })
        .catch(() => {
            self.isLoadingSignedWorkshops = false
        })

      api.getBriefWorkshops()
        .then(workshops => {
          self.isLoadingNextWorkshops = false
          workshops.forEach(function(element) {
            if (element.status == "coming") {
              self.nextWorkshops.push(element)
            }
          })
        })
        .catch(() => {
          self.isLoadingNextWorkshops = false
        })
    }
  },
  mounted() {
    this.displayWorkshops();
  }
};
</script>

<style scoped>
.home >>> .scroll {
  min-width: 100%;
  min-height: 350px;
  overflow-x: auto;
}
.home >>> .headline {
  color: #4a4a4a;
}
</style>
