<template>
  <div class="configuration">
    <PhotoPreview
      v-bind:on-photo-updated="onPhotoUpdated"
      v-bind:photoUrl="user.photo_url"
    />
    <v-form
      lazy-validation
      ref="form"
      v-model="valid">
      <v-container
        pt-5
        text-xs-center
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Name
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-text-field
              :rules="nameRules"
              placeholder="Name"
              required
              solo
              v-model="user.name"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Lastname
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-text-field
              :rules="lastNameRules"
              placeholder="Lastname"
              required
              solo
              v-model="user.lastname"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Email
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-text-field
              :rules="emailRules"
              placeholder="Email"
              required
              solo
              v-model="user.email"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Password
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-text-field
              :rules="passwordRules"
              placeholder="Password"
              required
              solo
              type="password"
              v-model="user.password"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Trello Username
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-text-field
              :rules="trelloUsernameRules"
              placeholder="Trello Username"
              required
              solo
              v-model="user.trello_username"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
          v-if="user.role === 'intern'"
        >
          <v-flex
            hidden-sm-and-down
            mb-4
            xs1
          >
            <div class="subheading">
              Intern company
            </div>
          </v-flex>

          <v-flex
            lg8
            xs11
          >
            <v-select
              :items="['CoatiLabs', 'Cubicode', 'Gleo', 'KSquare', 'MIDSoftware', 'SoldAI', 'Walook', 'Yellowme']"
              flat
              label="Intern company"
              v-model="user.internCompany"
            ></v-select>
          </v-flex>
        </v-layout>

        <v-layout
          align-center
          justify-center
        >
          <v-flex>
            <v-btn
              @click="updateProfile()"
              color="success"
              large
            >
              Save changes
            </v-btn>
          </v-flex>
        </v-layout>

      </v-container>
    </v-form>
  </div>
</template>

<script>
  import rules from "../../../assets/constants/Rules";
  import PhotoPreview from "./components/PhotoPreview";
  import EventBus from "../../../bus";
  import ProfileService from "../../../services/api/ProfileService"
  import ProfileDataManager from "../../../services/session/ProfileDataManager"
  import FirebaseCloudStorage from "../../../plugins/firebase/CloudStorage/FirebaseCloudStorage"
  import view from "../../../services/utils/ViewHandler"
  import _ from "../../../assets/constants/InfoMessages"

  const profileDataManager = new ProfileDataManager()
  const api = new ProfileService()

  const firebaseCloud = new FirebaseCloudStorage()

  export default {
    components: {
      PhotoPreview
    },
    data() {
      return {
        imageFile: '',
        user: {
          id: "",
          photo_url: "",
          name: "",
          lastname: "",
          email: "",
          password: "",
          trelloUsername: "",
          role: ""
        },
        valid: true,
        nameRules: [
          rules.isRequiredRule("Name")
        ],
        lastNameRules: [
          rules.isRequiredRule("Lastname")
        ],
        emailRules: [
          rules.isRequiredRule("Email"),
          rules.isValidEmail()
        ],
        passwordRules: [
          rules.isRequiredRule("Password")
        ],
        trelloUsernameRules: [
          rules.isRequiredRule("Trello username")
        ]
      };
    },
    methods: {
      displayProfile() {
        const profile = profileDataManager.getProfileData()
        this.user.id = profile.id
        this.user.photo_url = profile.photo_url
        this.user.name = profile.name
        this.user.lastname = profile.lastname
        this.user.email = profile.email
        this.user.password = ""
        this.user.trello_username = profile.trello_username
        this.user.role = profile.role
      },
      updateProfile() {
        const self = this
        if (self.$refs.form.validate()) {
          if (self.imageFile) {
            if (self.imageFile.size / 1000 < 5000) {
              firebaseCloud.uploadImage(self.imageFile, "user", function (imageUrl) {
                if (imageUrl != null) {
                  self.user.photo_url = imageUrl
                  self.update()
                } else {
                  view.showMessage("error", "Ocurrió un error al actualizar su información")
                }
              })
            } else {
              view.showMessage("error", "La imagen debe pesar menos de 5 MB")
            }
          } else {
            self.update()
          }
        }
      },
      update() {
        const self = this
        api.updateProfile(self.user)
          .then(() => {
            profileDataManager.updateSimpleProfileData(self.user)
            view.showMessage("success", _.Message.accountUpdated)
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed)
          })
      },
      onPhotoUpdated(imageFile) {
        this.imageFile = imageFile
      }
    },
    beforeMount() {
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: false
      });
      this.displayProfile();
    },
    destroyed() {
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: true,
        isAdmin: this.user.role === 'admin'
      });
    }
  };
</script>

<style scoped>
  .configuration {
    background-color: white;
  }

  .configuration .subheading {
    color: #4a4a4a;
  }

  .configuration >>> .v-input__slot {
    border-radius: 20px !important;
    border: 1px solid lightgray;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
</style>
