<template>
  <v-app>
    <Header v-bind:isLogged="isLogged"/>
    <NavegationTabs v-bind:isLogged="showTabs" v-bind:isAdmin="isAdmin"/>
    <vue-progress-bar></vue-progress-bar>
    <router-view/>
  </v-app>
</template>

<script>

import EventBus from './bus'

import Header from './components/Header/Header';
import NavegationTabs from './components/NavegationTabs';
import AuthManager from './services/session/AuthManager'
import ProfileDataManager from "./services/session/ProfileDataManager";

var authManager = new AuthManager()
var profileDataManager = new ProfileDataManager()

export default {
  name: 'App',
  components: {
    Header,
    NavegationTabs
  },
  data () {
    return {
      isLogged: false,
      showTabs: false,
      isAdmin: false
    }
  },
  methods: {
    validateExpiryTimestamp() {
      var expiryTimestamp = authManager.getHeaders().headers['expiry']
      var expiryDate = new Date(expiryTimestamp * 1000)
      var currentDate = new Date()
      if (currentDate > expiryDate) {
        localStorage.clear()
      }
    },
    validateCredentials() {
      if (authManager.getHeaders().headers['access-token'] != null) {
      this.isLogged = true
      this.showTabs = true
      this.isAdmin = (profileDataManager.getProfileData().role == 'admin') ? true : false
      } else {
        this.isLogged = false
        this.showTabs = false
        this.$router.push({ name: "login"})
      }
      EventBus.$on('handleNavigationBar', (payload) => {
        this.isLogged = payload.logged;
        this.showTabs = payload.showTabs;
        this.isAdmin = payload.isAdmin
      })
    }
  },
  beforeMount () {
    this.validateCredentials()
  },
  mounted() {
    this.validateExpiryTimestamp()
  }
}
</script>

<style>
.application--wrap {
  background-color: #FFF;
}
.workshops-page .slick-slide{
  padding: 0px 7px;
}
.slick-prev
{
    left: 10px !important;
    z-index: 1 !important;
}
.slick-next
{
    right: 10px !important;
    z-index: 1 !important;
}
.slick-prev:before,
.slick-next:before{
  color: #000 !important;
}

.display-4, .display-3, .display-2, .display-1, .headline, .title, .subheading, .body-2, .body-1, .caption {
  color: #1d1e1c;
}

</style>
