<template>
  <v-hover>
    <v-card
      :class="`elevation-${hover ? 5 : 1}`"
      class="mt-3"
      slot-scope="{ hover }"
    >
      <!--@click="displayUserProfile(accountId)"-->
      <v-layout>
        <v-flex
          lg8
          py-3
          sm6
          xs5
        >
          <v-list-tile>
            <v-avatar
              :size="50"
            >
              <v-img
                :src="userPhotoUrl"
                class="elevation-1"
              ></v-img>
            </v-avatar>

            <div class="ml-3 mt-3">
              <p>
                {{username}}
              </p>
            </div>
          </v-list-tile>
        </v-flex>

        <v-flex
          lg4
          pr-3
          py-3
          sm4
          xs4
        >
          <v-layout
            align-center
            fill-height
            justify-end
          >
            <span class="subheading">
              <v-rating
                :readonly="true"
                background-color="orange lighten-3"
                color="orange"
                medium
                v-model="score"
              ></v-rating>
            </span>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex
          xs12
        >
          <p class="pa-4 comment">
            {{comment}}
          </p>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>

<script>
  export default {
    props: {
      id: Number,
      accountId: Number,
      userPhotoUrl: String,
      username: String,
      score: String,
      comment: String
    },
    methods: {
      displayUserProfile(accountId) {
        this.$router.push({
          name: "user-profile",
          params: {userId: accountId}
        });
        //This page (user-profile) has not yet been created, so this will redirect to root page.
      }
    }
  };
</script>

<style scoped>
  .v-card {
    border-radius: 6px;
  }

  .v-card:hover {
    cursor: pointer;
  }

  .comment {
    text-align: justify;
    font-size: 16px;
  }
</style>
