<template>
  <v-hover>
    <v-card
      :class="`elevation-${hover ? 5 : 1}`"
      class="mt-3"
      slot-scope="{ hover }"
    >
      <!--@click="displayUserProfile(userId)"-->
      <v-layout>
        <v-flex
          lg6
          py-3
          sm6
          xs5
        >
          <v-list-tile>
            <v-avatar
              :size="50"
            >
              <v-img
                :src="userPhotoUrl"
                class="elevation-1"
              ></v-img>
            </v-avatar>

            <div class="ml-3">
              {{username}}
            </div>
          </v-list-tile>
        </v-flex>

        <v-flex
          lg5
          pr-3
          py-3
          sm4
          xs4
        >
          <v-layout
            align-center
            fill-height
            justify-end
          >
            <span class="subheading">
              {{score}} pts
            </span>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </v-hover>
</template>

<script>
  export default {
    props: {
      accountId: Number,
      userPhotoUrl: String,
      username: String,
      score: {
        type: Number,
        default: 0
      },
      trelloUsername: String,
      role: String
    },
    methods: {
      displayUserProfile(userId) {
        this.$router.push({name: "user-profile", params: {userId: userId}});
        //This page (user-profile) has not yet been created, so this will redirect to root page.
      }
    }
  };
</script>

<style scoped>
  .v-card {
    border-radius: 6px;
  }

  .v-card:hover {
    cursor: pointer;
  }
</style>
