<template>
  <div>
    <ReportFilter />

    <br />
    <div class="title font-weight-bold pb-3">On review</div>
    <CustomLoader v-bind:isLoading="isLoading" />
    <div v-if="usersOnReview.length != 0">
      <CardUser
        v-for="user in usersOnReview"
        :key="user.user_id"
        v-bind:userId="user.user_id"
        v-bind:userFirstName="user.user_name"
        v-bind:imgSrc="user.user_photo_url"
        v-bind:username="user.user_name + ' ' + user.user_lastname"
        v-bind:amountOnReview="user.numberOfTasksOnReview"
      />
    </div>

    <WithOutMessage
      v-else-if="isLoading == false && usersOnReview.length == 0"
      v-bind:message="'There are not users on review'"
    />

    <div class="title font-weight-bold mt-4 pb-3">Out review</div>
    <CustomLoader v-bind:isLoading="isLoading" />
    <div v-if="usersOutReview.length != 0">
      <CardUser
        v-for="user in usersOutReview"
        :key="user.user_id"
        v-bind:userId="user.user_id"
        v-bind:userFirstName="user.user_name"
        v-bind:imgSrc="user.user_photo_url"
        v-bind:username="user.user_name + ' ' + user.user_lastname"
        v-bind:amountOnReview="user.numberOfTasksOnReview"
      />
    </div>

    <WithOutMessage
      v-else-if="isLoading == false && usersOutReview.length == 0"
      v-bind:message="'There are not users out review'"
    />
  </div>
</template>

<script>
import CardUser from "./components/CardUser";
import WithOutMessage from "../../../../../components/WithoutDataMessage";
import CustomLoader from "../../../../../components/CustomLoader";
import ReportFilter from "./components/ReportFilter";

import ReportService from "../../../../../services/api/ReportService";
var api = new ReportService();

export default {
  components: {
    CardUser,
    WithOutMessage,
    CustomLoader,
    ReportFilter
  },
  data() {
    return {
      isLoading: true,
      usersOnReview: [],
      usersOutReview: []
    };
  },
  methods: {
    displayReports() {
      var self = this;
      api
        .getReports()
        .then(_reports => {
          self.isLoading = false;
          _reports.forEach(element => {
            if (element.numberOfTasksOnReview != 0) {
              self.usersOnReview.push(element);
            } else {
              self.usersOutReview.push(element);
            }
          });
        })
        .catch(() => {
          self.isLoading = false;
        });
    }
  },
  mounted() {
    this.displayReports();
  }
};
</script>
<style scoped>
.title {
  color: #4a4a4a;
}
</style>