<template>
  <div>
    <Header/>
    <Notification
      :key="notification.id"
      v-bind:message="notification.message.body"
      v-bind:photoSrc="notification.author_photo_url"
      v-bind:senderLastname="notification.message.author.lastname"
      v-bind:senderName="notification.message.author.name"
      v-bind:timestamp="notification.created_at_timestamp"
      v-bind:type="notification.notificable_type"
      v-for="notification in notifications"
    />
    <NotificationMessage/>
  </div>
</template>

<style>
</style>

<script>
  import _ from "../../../assets/constants/InfoMessages"
  import EventBus from "../../../bus";
  import Header from "./components/Header";
  import ProfileDataManager from "../../../services/session/ProfileDataManager";
  import NofificationService from "../../../services/api/NotificationService";
  import view from "../../../services/utils/ViewHandler";

  import Notification from "./components/Notification";
  import NotificationMessage from "./components/NotificationMessage";

  const profileDataManager = new ProfileDataManager();
  const api = new NofificationService();

  export default {
    components: {
      Header,
      Notification,
      NotificationMessage
    },
    data() {
      return {
        notifications: []
      };
    },
    methods: {
      displayNotifications() {
        api.getNotifications()
          .then(_notifications => {
            _notifications.reverse()
            _notifications.forEach(element => {
              this.notifications.push(element);
            });
          })
          .catch(() => {
            view.showMessage("error", _.ErrorMessage.requestFailed);
          });
      }
    },
    mounted() {
      this.displayNotifications();
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: false
      });
    },
    destroyed() {
      EventBus.$emit("handleNavigationBar", {
        logged: true,
        showTabs: true,
        isAdmin: profileDataManager.getProfileData().role === "admin"
      });
    }
  };
</script>
