<template>
  <div>
    <v-container fluid>
      <v-layout :class="{'pl-5': $vuetify.breakpoint.smAndUp}">
        <v-flex>
          <ComingSoon
            v-bind:title="'Leaderboard'"
            v-bind:subtitle="'Collect points learning and see how your friends are doing.'"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ComingSoon from "../../../components/ComingSoon";

export default {
  components: {
    ComingSoon
  }
};
</script>
